<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>样式类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>@queryCond</LabelSqlString>
  <attributes>
    <name>titleLength</name>
    <datatype>int</datatype>
    <default>50</default>
    <intro>项目标题长度,一个汉字占两个字节</intro>
  </attributes>
  <attributes>
    <name>contentLength</name>
    <datatype>int</datatype>
    <default>0</default>
    <intro>项目内容长度,一个汉字占两个字节</intro>
  </attributes>
  <attributes>
    <name>imageWidth</name>
    <datatype>int</datatype>
    <default>160</default>
    <intro>图片宽度</intro>
  </attributes>
  <attributes>
    <name>imageHeight</name>
    <datatype>int</datatype>
    <default>120</default>
    <intro>图片高度</intro>
  </attributes>
  <attributes>
    <name>optionalExtend</name>
    <datatype>string</datatype>
    <default>num</default>
    <intro>可选扩展参数，切换索引，当为picTitle时显示图片和标题，否则为数字</intro>
  </attributes>
  <attributes>
    <name>queryCond</name>
    <datatype>supersql</datatype>
    <default>SELECT TOP 10 * FROM PE_CommonModel</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>queryCount</name>
    <datatype>supersql</datatype>
    <default />
    <intro>统计条件</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi"><xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/><xsl:param name="titleLength" />
<xsl:param name="contentLength" />
<xsl:param name="imageWidth" />
<xsl:param name="imageHeight" />
<xsl:param name="queryCond" />
<xsl:param name="queryCount" />
<xsl:param name="optionalExtend" />

<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table) = 0">
<div class="bd noData" >对不起，暂无资料。</div>
</xsl:when>
<xsl:otherwise>

<!-- bd S -->
<div class="bd">
	<ul>
	<xsl:for-each select="/NewDataSet/Table">
		<li>
		<xsl:if test="position()=1"><xsl:attribute name="class">first</xsl:attribute></xsl:if>
		<div class="pic">
		<a>
		<xsl:attribute name="href">
			<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
		</xsl:attribute>
		<xsl:attribute name="target">
			<xsl:choose>
				<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
				<xsl:otherwise>_blank</xsl:otherwise>
			</xsl:choose>
		</xsl:attribute>

		<xsl:element name="img">
			<xsl:attribute name="src">
				<xsl:choose>
					<xsl:when test="DefaultPicUrl != ''">
						<xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(DefaultPicUrl,$imageWidth,$imageHeight))"/>
					</xsl:when>
					<xsl:otherwise><xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
				</xsl:choose>
			</xsl:attribute>
		</xsl:element>
		</a>
		</div><!-- pic end -->

		<div class="con">
			
			<div class="title">
				<a>
					<xsl:attribute name="href"><xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" /></xsl:attribute>
					<xsl:attribute name="target">
						<xsl:choose>
							<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
							<xsl:otherwise>_blank</xsl:otherwise>
						</xsl:choose>
					</xsl:attribute>
					<xsl:value-of select="pe:CutText(Title,$titleLength,'…')" />
				</a>
			</div>
			<xsl:if test=" $contentLength!=0 ">
			<div class="intro">
				<xsl:choose>
					<xsl:when test="TableName = 'PE_U_Article'">
						<xsl:choose>
							<xsl:when test="Intro != ''">
								<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(Intro),$contentLength,'…')" />
							</xsl:when>
							<xsl:otherwise>
								<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(Content),$contentLength,'…')" />
							</xsl:otherwise>
						</xsl:choose>
					</xsl:when>
					<xsl:when test="TableName = 'PE_U_Photo'">
						<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(PhotoIntro),$contentLength,'…')" />
					</xsl:when>

					<xsl:when test="TableName = 'PE_U_Soft'">
						<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(SoftIntro),$contentLength,'…')" />
					</xsl:when>
					<xsl:when test="TableName = 'PE_CommonProduct'">
						<xsl:value-of  disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(ProductIntro),$contentLength,'…')" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(Content),$contentLength,'…')" />
					</xsl:otherwise>
				</xsl:choose>
					<a href="{pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)}" class="more">[详细]</a>
			</div><!-- intro end -->
			</xsl:if>
			<div class="bg"></div>
		</div><!-- con end -->
		
		
		</li>
	</xsl:for-each>
	</ul>
</div>
<!-- bd E -->

<!-- hd S -->
<div class="hd">
	<ul>
	<xsl:choose>
		<xsl:when test="$optionalExtend = 'picTitle'">
			<xsl:for-each select="/NewDataSet/Table">
				<li title="{Title}" class="li{position()}">
					<div class="pic">
						<xsl:element name="img">
						<xsl:attribute name="src">
							<xsl:choose>
								<xsl:when test="DefaultPicUrl != ''"><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(DefaultPicUrl,$imageWidth,$imageHeight))"/></xsl:when>
								<xsl:otherwise><xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
							</xsl:choose>
						</xsl:attribute>
						</xsl:element>
					</div>
					<div class="title">
						<a>
						<xsl:attribute name="href">
							<xsl:choose>
								<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
								<xsl:otherwise>_blank</xsl:otherwise>
							</xsl:choose>
						</xsl:attribute>
						<xsl:value-of select="pe:CutText(Title,$titleLength,'…')" />
						</a>
					</div>
				</li>
			</xsl:for-each>
		</xsl:when>

		<xsl:otherwise>
				<xsl:for-each select="/NewDataSet/Table">
					<li class="li{position()}">
					<span><xsl:value-of select="position()" /></span>
					</li>
				</xsl:for-each>
		</xsl:otherwise>
	</xsl:choose>
	</ul>
</div>
<!-- hd E -->

</xsl:otherwise>
</xsl:choose>

</xsl:template></xsl:stylesheet>]]></LabelTemplate>
  <UsePage>True</UsePage>
  <LabelSqlCount>@queryCount</LabelSqlCount>
</root>