<?xml version="1.0" encoding="utf-8"?>
<root>
	<LabelType>样式类</LabelType>
	<LabelIntro>
	</LabelIntro>
	<OutType>sin</OutType>
	<LabelDataType>sql_sysquery</LabelDataType>
	<EnabelAjax>False</EnabelAjax>
	<IsXsltSql>false</IsXsltSql>
	<IsXsltCountSql>false</IsXsltCountSql>
	<LabelSqlString>@queryCond</LabelSqlString>
		<attributes>
		<name>displayTips</name>
		<datatype>bool</datatype>
		<default>true</default>
		<intro>是否显示作者,更新日期,点击数等浮动提示信息</intro>
	</attributes>
		<attributes>
		<name>linkOpenType</name>
		<datatype>supersql</datatype>
		<default>-1</default>
		<intro>项目打开方式，-1,后台控制，0本页打开，1新页面打开</intro>
	</attributes>
	<attributes>
		<name>titleLength</name>
		<datatype>int</datatype>
		<default>50</default>
		<intro>项目标题长度,一个汉字占两个字节</intro>
	</attributes>
	<attributes>
		<name>contentLength</name>
		<datatype>int</datatype>
		<default>160</default>
		<intro>项目内容长度,一个汉字占两个字节</intro>
	</attributes>
	<attributes>
		<name>imageClass</name>
		<datatype>string</datatype>
		<default>pic</default>
		<intro>图片区块选择器名</intro>
	</attributes>
	<attributes>
		<name>titleClass</name>
		<datatype>string</datatype>
		<default>title</default>
		<intro>标题简介区择器名</intro>
	</attributes>
	<attributes>
		<name>imageWidth</name>
		<datatype>int</datatype>
		<default>160</default>
		<intro>自动缩略图宽</intro>
	</attributes>
	<attributes>
		<name>imageHeight</name>
		<datatype>int</datatype>
		<default>120</default>
		<intro>自动缩略图高</intro>
	</attributes>
	<attributes>
		<name>optionalExtend</name>
		<datatype>string</datatype>
		<default>
		</default>
		<intro>可选扩展参数</intro>
	</attributes>
	<attributes>
		<name>queryCond</name>
		<datatype>supersql</datatype>
		<default>SELECT TOP 10 * FROM PE_CommonModel</default>
		<intro>查询条件</intro>
	</attributes>
	<attributes>
		<name>queryCount</name>
		<datatype>supersql</datatype>
		<default />
		<intro>统计条件</intro>
	</attributes>
	<LabelTemplate><![CDATA[<?xml version="1.0" encoding="UTF-8"?><xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi"><xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
	<xsl:param name="titleLength" />
	<xsl:param name="contentLength" />
	<xsl:param name="imageClass" />
	<xsl:param name="titleClass" />
	<xsl:param name="imageWidth" />
	<xsl:param name="imageHeight" />
	<xsl:param name="queryCond" />
	<xsl:param name="queryCount" />
	<xsl:param name="optionalExtend" />
	<xsl:param name="linkOpenType" />
	<xsl:param name="displayTips" />
	<xsl:template match="/">
	<xsl:choose>
	<xsl:when test="count(/NewDataSet/Table) = 0">
	<li class="noData">暂无资料</li>
	</xsl:when>
	<xsl:otherwise>

	<xsl:for-each select="/NewDataSet/Table">
	<li>
<xsl:choose>
	<xsl:when test=" position()=1 ">
		<xsl:attribute name="class">first</xsl:attribute>
	</xsl:when>
	<xsl:when test=" position()=last() ">
		<xsl:attribute name="class">last</xsl:attribute>
	</xsl:when>
</xsl:choose>
	<div>
		<xsl:attribute name="class"><xsl:value-of select="$imageClass" /><xsl:if test="DefaultPicUrl = ''"> noPic</xsl:if></xsl:attribute>
	<a>
		<xsl:attribute name="title"><xsl:value-of select="Title" /></xsl:attribute>
		<xsl:attribute name="href">
		<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
		</xsl:attribute>
		<xsl:attribute name="target">
			<xsl:choose>
			<xsl:when test="$linkOpenType=0">_self</xsl:when>
			<xsl:when test="$linkOpenType=1">_blank</xsl:when>
			<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
			<xsl:otherwise>_blank</xsl:otherwise>
			</xsl:choose>
		</xsl:attribute>
		<xsl:element name="img">
			<xsl:attribute name="width"><xsl:value-of select="$imageWidth" /></xsl:attribute>
			<xsl:attribute name="height"><xsl:value-of select="$imageHeight" /></xsl:attribute>
			<xsl:attribute name="src">
				<xsl:choose>
						<xsl:when test="DefaultPicUrl != ''">
						<xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(DefaultPicUrl,$imageWidth,$imageHeight))"/></xsl:when>
						<xsl:otherwise><xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
				 </xsl:choose>
			</xsl:attribute>
		</xsl:element>
	</a>
	</div>
<div class="con">
 
	<div class="{$titleClass}">
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:attribute name="target">
	<xsl:choose>
	<xsl:when test="$linkOpenType=0">_self</xsl:when>
	<xsl:when test="$linkOpenType=1">_blank</xsl:when>
	<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
	<xsl:otherwise>_blank</xsl:otherwise>
	</xsl:choose>
</xsl:attribute>
<xsl:if test="$displayTips = 'true'">
<xsl:attribute name="title">标题：<xsl:value-of select="Title"/>
<xsl:value-of select="'&#xD;'"/>点击数：<xsl:value-of select="Hits"/>
<xsl:value-of select="'&#xD;'"/>发表时间：<xsl:value-of select="pe:FormatDate(UpdateTime, 'yy年mm月dd日')"/>
</xsl:attribute>
</xsl:if>
<xsl:choose>
<xsl:when test="TitleFontColor != '' or TitleFontType != '字形'">
<font>
<xsl:attribute name="style">
<xsl:if test="TitleFontColor != ''">color:<xsl:value-of select="TitleFontColor"/>;</xsl:if>
<xsl:if test="TitleFontType != '字形'">
<xsl:choose>
<xsl:when test="TitleFontType ='粗体'">font-weight:bold;font-style:normal;</xsl:when>
<xsl:when test="TitleFontType ='斜体'">font-weight:normal ;font-style:italic ;</xsl:when>
<xsl:when test="TitleFontType ='粗+斜'">font-weight:bold;font-style:italic ;</xsl:when>
<xsl:when test="TitleFontType ='常规'">font-weight:normal ;font-style:normal;</xsl:when>
<xsl:otherwise>
</xsl:otherwise>
</xsl:choose>;</xsl:if>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$titleLength,'…')"/>
</font>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:CutText(Title,$titleLength,'…')"/>
</xsl:otherwise>
</xsl:choose>
</a>
	</div>

 <xsl:if test="$contentLength &gt; 0">
	<div class="intro">
	<xsl:choose>
		<xsl:when test="TableName = 'PE_U_Article'">
			<xsl:choose><xsl:when test="Intro != ''"><xsl:value-of  disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(Intro),$contentLength,'…')" /></xsl:when><xsl:otherwise><xsl:value-of  disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Content),$contentLength,'…')" /></xsl:otherwise></xsl:choose></xsl:when><xsl:when test="TableName = 'PE_U_Photo'"><xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(PhotoIntro),$contentLength,'…')" /></xsl:when><xsl:when test="TableName = 'PE_U_Soft'"><xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(SoftIntro),$contentLength,'…')" /></xsl:when><xsl:when test="TableName = 'PE_CommonProduct'"><xsl:value-of  disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(ProductIntro),$contentLength,'…')" /></xsl:when><xsl:otherwise><xsl:value-of  disable-output-escaping="yes"   select="pe:CutText(pe:RemoveHtml(Content),$contentLength,'…')" /></xsl:otherwise>
	</xsl:choose>
	<a href="{pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)}" class="more">
		<xsl:attribute name="target">
			<xsl:choose>
			<xsl:when test="$linkOpenType=0">_self</xsl:when>
			<xsl:when test="$linkOpenType=1">_blank</xsl:when>
			<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
			<xsl:otherwise>_blank</xsl:otherwise>
			</xsl:choose>
		</xsl:attribute>[详细]</a>
</div>
</xsl:if>

</div>
	</li></xsl:for-each></xsl:otherwise></xsl:choose></xsl:template></xsl:stylesheet>]]></LabelTemplate>
	<UsePage>True</UsePage>
	<LabelSqlCount>@queryCount</LabelSqlCount>
	<Version officialVersion="" modifiedVersions="4000" compatibleVersion="" />
</root>