<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>样式类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@QueryCond</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi">
<xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
<xsl:param name="titleLength" />
<xsl:param name="linkOpenType" />
  <xsl:param name="imageWidth" />
  <xsl:param name="imageHeight" />
  <xsl:param name="defaultImg" />


<xsl:template match="/">
	<xsl:choose>
		<xsl:when test="count(/NewDataSet/Table) = 0">
<li class="noData">暂无资料</li>
</xsl:when>
		<xsl:otherwise>
			<xsl:for-each select="/NewDataSet/Table">
				<li>
					<a title="{Title}">
					<xsl:attribute name="href">
					<xsl:value-of select="SiteUrl" />
					</xsl:attribute>
					  <xsl:attribute name="target">
						<xsl:choose>
						<xsl:when test="$linkOpenType=0">_self</xsl:when>
						<xsl:when test="$linkOpenType=1">_blank</xsl:when>
						<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
						<xsl:otherwise>_blank</xsl:otherwise>
						</xsl:choose>
					  </xsl:attribute>
						<xsl:element name="img">
						<xsl:attribute name="src">
		<xsl:choose>
			<xsl:when test=" $defaultImg='true' "><!-- 默认模型 -->

						  <xsl:choose>
							  <xsl:when test="LogoUrl !=''">
							  <xsl:if test="pe:IsStartWithhttp(LogoUrl)='false'">
							  <xsl:value-of select="pe:UpLoadDir()"/>
							  </xsl:if>
							  <xsl:value-of select="LogoUrl"/>
							  </xsl:when>
						  
							  <xsl:otherwise>
							  <xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
							  </xsl:otherwise>
						  </xsl:choose>

			</xsl:when>

			<xsl:otherwise><!-- 后台修改字段，用DefaultPicUrl代替默认的图片字段-->

							<xsl:choose>
							<xsl:when test="DefaultPicUrl != '' and pe:IsStartWithhttp(DefaultPicUrl)='false' ">
								<xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(DefaultPicUrl,$imageWidth,$imageHeight))"/>
							</xsl:when>
							<xsl:when test="DefaultPicUrl != ''">
								<xsl:value-of select="DefaultPicUrl"/>
							</xsl:when>
							<xsl:otherwise>
								<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
							</xsl:choose>

			</xsl:otherwise>
		</xsl:choose>


						</xsl:attribute>
						</xsl:element>
						</a>
					</li>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <attributes>
    <name>defaultImg</name>
    <datatype>supersql</datatype>
    <default>true</default>
    <intro>图片字段是否使用默认（是否默认模型）</intro>
  </attributes>
  <attributes>
    <name>imageWidth</name>
    <datatype>int</datatype>
    <default>160</default>
    <intro>自动缩略图宽</intro>
  </attributes>
  <attributes>
    <name>imageHeight</name>
    <datatype>int</datatype>
    <default>120</default>
    <intro>自动缩略图高</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>int</datatype>
    <default>60</default>
    <intro>内容标题长度,一个汉字占两个字节,如填写"20"则显示10个汉字</intro>
  </attributes>
  <attributes>
    <name>linkOpenType</name>
    <datatype>supersql</datatype>
    <default>-1</default>
    <intro>项目打开方式，-1,后台控制，0本页打开，1新页面打开</intro>
  </attributes>
  <attributes>
    <name>QueryCond</name>
    <datatype>supersql</datatype>
    <default>SELECT TOP 10 * FROM PE_U_FriendSite C</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>QueryCount</name>
    <datatype>supersql</datatype>
    <default />
    <intro>统计条件</intro>
  </attributes>
  <usePage>True</usePage>
  <LabelSqlCount>@QueryCount</LabelSqlCount>
</root>