<?xml version="1.0"?>
<root>
  <LabelType>样式类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@QueryCond</LabelSqlString>
  <LabelTemplate>
     <![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi">
 <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
 <xsl:param name="titleLength" />
 <xsl:param name="linkOpenType" />
 <xsl:param name="nodes" />
 <xsl:template match="/">

    <xsl:text disable-output-escaping="yes">&lt;select id="friendsitelist" onchange="if(this.options[this.selectedIndex].value!=''){ window.open(this.options[this.selectedIndex].value)  }"&gt;</xsl:text>
     	     <xsl:text disable-output-escaping="yes">&lt;option</xsl:text>
	     <xsl:text disable-output-escaping="yes">&gt;</xsl:text>
	     <xsl:value-of select="pe:GetNode($nodes,'name')" />
	     <xsl:text disable-output-escaping="yes">&lt;/option&gt;</xsl:text>


 <xsl:choose>
   <xsl:when test="count(/NewDataSet/Table) = 0">
   </xsl:when>
   <xsl:otherwise>

    <xsl:for-each select="/NewDataSet/Table">
     <xsl:text disable-output-escaping="yes">&lt;option value=</xsl:text>
     <xsl:value-of select="SiteUrl" />
     <xsl:text disable-output-escaping="yes">&gt;</xsl:text>
     <xsl:value-of select="pe:CutText(Title,$titleLength,'…')" />
     <xsl:text disable-output-escaping="yes">&lt;/option&gt;</xsl:text>
    </xsl:for-each>
    
   </xsl:otherwise>
  </xsl:choose>
<xsl:text disable-output-escaping="yes">&lt;/select&gt;</xsl:text>

 </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <attributes>
    <name>nodes</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>int</datatype>
    <default>60</default>
    <intro>内容标题长度,一个汉字占两个字节,如填写"20"则显示10个汉字</intro>
  </attributes>
  <attributes>
    <name>linkOpenType</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>内容链接的打开方式,0为栏目节点配置,1为新窗口,2为原窗口,其他则由参数值值取代</intro>
  </attributes>
  <attributes>
    <name>QueryCond</name>
    <datatype>supersql</datatype>
    <default>SELECT TOP 10 * FROM PE_CommonModel C</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>QueryCount</name>
    <datatype>supersql</datatype>
    <default />
    <intro>统计条件</intro>
  </attributes>
  <usePage>True</usePage>
  <LabelSqlCount>@QueryCount</LabelSqlCount>
</root>