<?xml version="1.0"?>
<root>
  <LabelType>样式类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@QueryCond</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="UTF-8"?><xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi"><xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/><xsl:param name="titleLength" /><xsl:param name="linkOpenType" /><xsl:template match="/"><xsl:choose><xsl:when test="count(/NewDataSet/Table) = 0">
  <li class="noData">暂无资料</li>
  </xsl:when>
  <xsl:otherwise>
  <xsl:for-each select="/NewDataSet/Table">
  <li><a>
  <xsl:attribute name="href">
  <xsl:value-of select="SiteUrl" />
  </xsl:attribute>

  <xsl:attribute name="target">
	<xsl:choose>
	<xsl:when test="$linkOpenType=0">_self</xsl:when>
	<xsl:when test="$linkOpenType=1">_blank</xsl:when>
	<xsl:when test="pe:GetNodeFieldName(NodeID, 'ItemOpenType') = 0">_self</xsl:when>
	<xsl:otherwise>_blank</xsl:otherwise>
	</xsl:choose>
  </xsl:attribute><xsl:value-of select="pe:CutText(Title,$titleLength,'…')" />
  </a>
  </li>
  </xsl:for-each>
  </xsl:otherwise>
  </xsl:choose>
  </xsl:template>
  </xsl:stylesheet>]]>
  </LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <attributes>
    <name>titleLength</name>
    <datatype>int</datatype>
    <default>60</default>
    <intro>内容标题长度,一个汉字占两个字节,如填写"20"则显示10个汉字</intro>
  </attributes>
  <attributes>
    <name>linkOpenType</name>
    <datatype>int</datatype>
    <default>-1</default>
    <intro>项目打开方式，-1,后台控制，0本页打开，1新页面打开</intro>
  </attributes>
  <attributes>
    <name>QueryCond</name>
    <datatype>supersql</datatype>
    <default>SELECT TOP 10 * FROM PE_CommonModel C</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>QueryCount</name>
    <datatype>supersql</datatype>
    <default />
    <intro>统计条件</intro>
  </attributes>
  <usePage>True</usePage>
  <LabelSqlCount>@QueryCount</LabelSqlCount>
</root>