<?xml version="1.0"?>
<root>
  <LabelType>样式类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>@queryCond</LabelSqlString>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>50</default>
    <intro>项目标题长度,一个汉字占两个字节</intro>
  </attributes>
  <attributes>
    <name>imageWidth</name>
    <datatype>supersql</datatype>
    <default>400</default>
    <intro>自动缩略图宽</intro>
  </attributes>
  <attributes>
    <name>imageHeight</name>
    <datatype>supersql</datatype>
    <default>300</default>
    <intro>自动缩略图高</intro>
  </attributes>
  <attributes>
    <name>optionalExtend</name>
    <datatype>supersql</datatype>
    <default />
    <intro>可选扩展参数</intro>
  </attributes>
  <LabelTemplate>
            <![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
  <xsl:output method="html" version="1.0" encoding="UTF-8" indent="no"/>
  <xsl:param name="titleLength" />
  <xsl:param name="imageWidth" />
  <xsl:param name="imageHeight" />
  <xsl:param name="optionalExtend" />
  <xsl:param name="queryCond" />
  <xsl:template match="/">
    <xsl:choose>
      <xsl:when test="count(NewDataSet/Table) = 0">
        <span class="noData">暂无图片信息</span>
      </xsl:when>
      <xsl:otherwise>
        <script type="text/javascript">
          var swf_width = <xsl:value-of select="$imageWidth" />;
          var swf_height = <xsl:value-of select="$imageHeight" />;
          var title_height = 20;
          var focus_height = swf_height + title_height;
          var interval_time = 4;
          var config = '6|0xffffff|0x0099FF|20|0xffffff|0x0099FF|0x000000';//config 设置分别为: 自动播放时间(秒)|文字颜色|文字背景色|文字背景透明度|按键数字色|当前按键色|普通按键色
          var files = '<xsl:for-each select="/NewDataSet/Table"><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(DefaultPicUrl,$imageWidth,$imageHeight))"/><xsl:if test="position() != last()">|</xsl:if></xsl:for-each>';
          var links = '<xsl:for-each select="/NewDataSet/Table"><xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle,HtmlPageName)"/><xsl:if test="position() != last()">|</xsl:if></xsl:for-each>';
          var texts = '<xsl:for-each select="/NewDataSet/Table"><xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:ReplaceText(Title,'&quot;',''),$titleLength,'…')"/><xsl:if test="position() != last()">|</xsl:if></xsl:for-each>';
          document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="' + swf_width + '" height="' + focus_height + '">');
          document.write('<param name="movie" value="{pe:SkinDir()}swf/focus_1.swf" />');
          document.write('<param name="quality" value="high" />');
          document.write('<param name="menu" value="false" />');
          document.write('<param name="wmode" value="opaque" />');
          document.write('<param name="FlashVars" value="borderwidth=' + swf_width + '&amp;borderheight=' + swf_height + '&amp;textheight=' + title_height + '&amp;interval_time=' + interval_time + '&amp;pics=' + files + '&amp;links=' + links + '&amp;texts=' + texts + '" />');
          document.write('<embed src="{pe:SkinDir()}swf/focus_1.swf" wmode="opaque" FlashVars="borderwidth=' + swf_width + '&amp;borderheight=' + swf_height + '&amp;textheight=' + title_height + '&amp;interval_time=' + interval_time + '&amp;pics=' + files + '&amp;links=' + links + '&amp;texts=' + texts + '" menu="false" quality="high" width="' + swf_width + '" height="' + focus_height + '" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
          document.write('</object>');
        </script>
      </xsl:otherwise>
    </xsl:choose>
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <attributes>
    <name>queryCond</name>
    <datatype>supersql</datatype>
    <default>SELECT TOP 5 * FROM PE_CommonModel WHERE DefaultPicUrl != ''</default>
    <intro>查询条件</intro>
  </attributes>
</root>