<?xml version="1.0"?>
<root>
  <LabelType>样式类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>@queryCond</LabelSqlString>
  <attributes>
    <name>split</name>
    <datatype>int</datatype>
    <default />
    <intro>每多少项输出分隔</intro>
  </attributes>
  <attributes>
    <name>noShow</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>前多少条信息不显示</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>int</datatype>
    <default>50</default>
    <intro>项目标题长度,一个汉字占两个字节</intro>
  </attributes>
  <attributes>
    <name>optionalExtend</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>可选扩展参数</intro>
  </attributes>
  <attributes>
    <name>queryCond</name>
    <datatype>supersql</datatype>
    <default>SELECT TOP 10 * FROM PE_CommonModel</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>queryCount</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>统计条件</intro>
  </attributes>
  <attributes>
    <name>linkOpenType</name>
    <datatype>supersql</datatype>
    <default>-1</default>
    <intro>项目打开方式，-1,后台控制，0本页打开，1新页面打开</intro>
  </attributes>
  <attributes>
    <name>displayPropertyPrefix</name>
    <datatype>int</datatype>
    <default>0</default>
    <intro>项目列表前缀修饰符</intro>
  </attributes>
  <attributes>
    <name>displayNewSign</name>
    <datatype>int</datatype>
    <default>
    </default>
    <intro>近多少天内的项目视为最新项目为空则不显示</intro>
  </attributes>
  <attributes>
    <name>displayDateTime</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>是否显示日期,为空则不显示</intro>
  </attributes>
  <attributes>
    <name>displayTitlePrefix</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>是否显示项目前缀修饰语</intro>
  </attributes>
  <attributes>
    <name>displayHits</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>是否显示项目点击数</intro>
  </attributes>
  <attributes>
    <name>displayTips</name>
    <datatype>bool</datatype>
    <default>true</default>
    <intro>是否显示作者,更新日期,点击数等浮动提示信息</intro>
  </attributes>
  <attributes>
    <name>displayInputer</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>是否显示内容的录入者</intro>
  </attributes>
  <attributes>
    <name>displayNodeName</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>是否显示所属栏目名称</intro>
  </attributes>
  <attributes>
    <name>displayHotSign</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>是否显示热门内容图标</intro>
  </attributes>
  <attributes>
    <name>timeRight</name>
    <datatype>string</datatype>
    <default/>
    <intro>显示日期格式如:mm-dd,为空则不显示</intro>
  </attributes>

  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi">
<xsl:output method="html" version="1.0" encoding="utf-8" indent="no"/>
<xsl:param name="titleLength"/>
<xsl:param name="displayPropertyPrefix"/>
<xsl:param name="displayDateTime"/>
<xsl:param name="displayTitlePrefix"/>
<xsl:param name="displayHits"/>
<xsl:param name="displayTips"/>
<xsl:param name="displayInputer"/>
<xsl:param name="displayNodeName"/>
<xsl:param name="displayHotSign"/>
<xsl:param name="displayNewSign"/>
<xsl:param name="displayCommentLink"/>
<xsl:param name="optionalExtend"/>
<xsl:param name="queryCond"/>
<xsl:param name="queryCount"/>
<xsl:param name="linkOpenType"/>
<xsl:param name="noShow"/>
<xsl:param name="split"/>
<xsl:param name="timeRight"/>
<xsl:template match="/">

<table class="msgTable">
    <thead>
        <tr class="tableTitle">
            <th class="title">发言主题</th>
            <th class="user">发表者</th>
            <th class="hits">点击数</th>
            <th class="date">发表时间</th>
            <th class="reply">是否回复</th>
        </tr>
    </thead>

    <xsl:choose>
        <xsl:when test="/NewDataSet/Table">
            <xsl:for-each select="/NewDataSet/Table">
                <tr>
					<xsl:if test="position() mod 2 = 0"><xsl:attribute name="class">even</xsl:attribute></xsl:if>
                    <td class="title"><a href="{pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)}"><xsl:value-of select="pe:CutText(Title,$titleLength,'…')"/></a></td>
                    <td class="user"><xsl:value-of select="GuestName"/></td>
                    <td class="hits"><xsl:value-of select="Hits"/></td>
                    <td class="date"><xsl:value-of select="pe:FormatDate(UpdateTime, $displayDateTime)"/></td>
                    <td class="reply">
                        <xsl:choose>
                            <xsl:when test=" AdminReply!='' ">
                                <span class="isreply">已回复</span>
                            </xsl:when>
                            <xsl:otherwise>
                                <span class="noreply">待回复</span>
                            </xsl:otherwise>
                        </xsl:choose>
                    </td>
                  </tr>
            </xsl:for-each>
        </xsl:when>
        <xsl:otherwise>
            <tr>
                <td colspan="5" class="noData">暂无资料</td>
            </tr>
        </xsl:otherwise>
    </xsl:choose>

</table>



</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <UsePage>True</UsePage>
  <LabelSqlCount>@queryCount</LabelSqlCount>
</root>
