<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <LabelTemplate><![CDATA[{PE.Label id="PE-Dig内容页呈现" itemId="@RequestInt_Id" /}
  <script type="text/jscript">
    function digvote() {
      var x = new AjaxRequest('XML', 'Dig');
      x.labelname = "PE-Dig数据写入库";
      x.para = ['itemId=@Request_id'];
      x.currentpage = 1;
      x.post('updatelabel', '{PE.SiteConfig.ajaxsitepath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var status = xml.getElementsByTagName("status")[0].firstChild.data;
        if (status == "ok") {
          if (xml.getElementsByTagName("body")[0].firstChild.data == "good") {
            try {
              var newnum = parseInt(document.getElementById("dignum").innerHTML) + 1;
              document.getElementById("dignum").innerHTML = newnum.toString();
            } catch (e)
                { }
          }
        }
      });
    }
  </script>]]></LabelTemplate>
</root>