<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>此标签不需要调用,也不需要修改!</LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>True</EnabelAjax>
  <attributes>
    <name>itemId</name>
    <datatype>
    </datatype>
    <default>1</default>
    <intro>项目ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>IF (SELECT Dig FROM PE_U_Article WHERE ID = @itemId) IS NULL UPDATE PE_U_Article SET Dig = 1 WHERE ID = 1 ELSE UPDATE PE_U_Article SET Dig = Dig + 1 WHERE ID = @itemId</LabelSqlString>
  <QueryError>err</QueryError>
  <QuerySucceed>good</QuerySucceed>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>