<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>显目ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT TOP 1 Dig FROM PE_U_Article WHERE (ID = @itemId)</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
  <div align="center" id="supports">
    <table width="114" height="79" background="{pe:InstallDir()}Template/PluginLabelPlus/img/upDigBg.gif" border="0" style="font-family: Arial Black; font-size: 18pt; border-collapse: collapse; word-break: break-all">
      <tr>
        <td align="center">
          <span id="dignum">
            <xsl:value-of select="Dig" />
          </span>
        </td>
      </tr>
      <tr>
        <td align="center">
          <img src="{pe:InstallDir()}Template/PluginLabelPlus/img/upDig.gif" border="0" onclick="digvote()" style="cursor: hand" />
        </td>
      </tr>
    </table>
  </div>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>