<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>节点ID{默认值:1,传入值:@RequestInt_Id}</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="nodeId" />
<xsl:template match="/">
<xsl:if test="pe:GetNodeInfo($nodeId,'NodePicUrl') != ''"><img src="/{pe:GetNodeInfo($nodeId,'NodePicUrl')}"/></xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <Version officialVersion="" modifiedVersions="5000" compatibleVersion="" />
</root>