<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>支持栏目数组如:(1,2,3)返回数组内所有子节点</LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1,2,3,4,5</default>
    <intro>节点ID:{默认值:1,传入值:@RequestInt_Id}</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT N.arrChildID FROM PE_Nodes N WHERE N.NodeID IN (@nodeId)</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table) = 0">0</xsl:when>
<xsl:otherwise>
<xsl:for-each select="/NewDataSet/Table"><xsl:value-of select="arrChildID"/>,</xsl:for-each>0</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>