<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>当前节点ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT 
  DPO.NodeName,
  DPO.Tips,
  DPO.ParentID,
  DPO.NodeID,
  (SELECT DPS.ParentID FROM PE_Nodes DPS WHERE DPS.NodeID = @nodeId) AS CurrentID
FROM
  PE_Nodes DPO
WHERE
  DPO.ParentID = (SELECT DPT.ParentID FROM PE_Nodes DPT 
WHERE
  DPT.NodeID = (SELECT DPS.ParentID FROM PE_Nodes DPS WHERE DPS.NodeID = @nodeId))</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="NodeID = CurrentID">
<li class="current_class">
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath(false,NodeID)"/>
</xsl:attribute>
<xsl:value-of select="NodeName"/>
</a>
</li>
</xsl:when>
<xsl:otherwise>
<li>
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath(false,NodeID)"/>
</xsl:attribute>
<xsl:value-of select="NodeName"/>
</a>
</li>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>