<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点ID{默认值:0,传入值:@RequestInt_Id}</intro>
  </attributes>
  <attributes>
    <name>specialId</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>modelId</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>模型下的项目</intro>
  </attributes>
  <attributes>
    <name>inDays</name>
    <datatype>supersql</datatype>
    <default />
    <intro>近多少天的项目</intro>
  </attributes>
  <attributes>
    <name>betDate</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>介于日期之间的项目</intro>
  </attributes>
  <attributes>
    <name>editor</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>项目编辑者</intro>
  </attributes>
  <attributes>
    <name>inputer</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>项目录入者</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>总点击数大于等于多少的项目</intro>
  </attributes>
  <attributes>
    <name>dayHits</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>日点击数大于等于多少的项目</intro>
  </attributes>
  <attributes>
    <name>weekHits</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>周点击数大于等于多少的项目</intro>
  </attributes>
  <attributes>
    <name>monthHits</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>月点击数大于等于多少的项目</intro>
  </attributes>
  <attributes>
    <name>eliteLevel</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>优先级别大于等于多少的项目</intro>
  </attributes>
  <attributes>
    <name>priorityLevel</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>推荐级别大于等于多少的项目</intro>
  </attributes>
  <attributes>
    <name>picIsNotNull</name>
    <datatype>supersql</datatype>
    <default>false</default>
    <intro>含有图片信息的项目</intro>
  </attributes>
  <attributes>
    <name>includeChildNode</name>
    <datatype>supersql</datatype>
    <default>false</default>
    <intro>是否包含子栏目</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT N.arrChildID FROM PE_Nodes N WHERE N.NodeID = @nodeId</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:LEWI="http://www.powereasy.net"  xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:msxsl="urn:schemas-microsoft-com:xslt" xmlns:pe="labelproc" exclude-result-prefixes="LEWI msxsl pe">
  <!--new version 2.0 by lewi at www.powereasy.net 2008-10-29-->
  <xsl:param name="nodeId" />
  <xsl:param name="specialId" />
  <xsl:param name="includeChildNode" />
  <xsl:param name="inDays" />
  <xsl:param name="editor" />
  <xsl:param name="inputer" />
  <xsl:param name="hits" />
  <xsl:param name="dayHits" />
  <xsl:param name="betDate" />
  <xsl:param name="modelId" />
  <xsl:param name="weekHits" />
  <xsl:param name="monthHits" />
  <xsl:param name="eliteLevel" />
  <xsl:param name="priorityLevel" />
  <xsl:param name="picIsNotNull" />
  <xsl:output method="html" indent="yes"/>
  <xsl:template match="/">
    {PE.Label id="PE-显示取得栏目下项目总数" queryCond="SELECT COUNT (*) AS Total
    FROM
    PE_CommonModel CM
    <xsl:if test="specialId != ''">
      INNER JOIN PE_SpecialInfos SI ON (UT.ID = SI.GeneralID)
    </xsl:if>
    WHERE
    CM.Status = 99
    <xsl:if test="specialId != ''">
      AND SI.SpecialID IN (<xsl:value-of select="$specialId"/>)
    </xsl:if>
    <xsl:if test="$nodeId != ''">
      AND CM.NodeID IN (
      <xsl:choose>
        <xsl:when test="$includeChildNode = 'true'">
          <xsl:value-of select="NewDataSet/Table/arrChildID"/>
        </xsl:when>
        <xsl:otherwise>
          <xsl:value-of select="$nodeId"/>
        </xsl:otherwise>
      </xsl:choose>)
    </xsl:if>
    <xsl:if test="$hits != ''">
      AND CM.Hits &gt;= <xsl:value-of select="$hits"/>
    </xsl:if>
    <xsl:if test="$dayHits != ''">
      AND CM.DayHits &gt;= <xsl:value-of select="$dayHits"/>
    </xsl:if>
    <xsl:if test="$weekHits != ''">
      AND CM.WeekHits &gt;= <xsl:value-of select="$weekHits"/>
    </xsl:if>
    <xsl:if test="$monthHits != ''">
      AND CM.MonthHits &gt;= <xsl:value-of select="$monthHits"/>
    </xsl:if>
    <xsl:if test="$eliteLevel != ''">
      AND CM.EliteLevel &gt;= <xsl:value-of select="$eliteLevel"/>
    </xsl:if>
    <xsl:if test="$priorityLevel != ''">
      AND CM.Priority &gt;= <xsl:value-of select="$priorityLevel"/>
    </xsl:if>
    <xsl:if test="$editor != ''">
      AND CM.Editor = '<xsl:value-of select="$editor"/>'
    </xsl:if>
    <xsl:if test="$inputer != ''">
      AND CM.Inputer = '<xsl:value-of select="$inputer"/>'
    </xsl:if>
    <xsl:if test="$picIsNotNull = 'true'"> AND CM.DefaultPicUrl != '' </xsl:if>
    <xsl:if test="$inDays != ''">
      AND DATEDIFF(d,CM.UpdateTime,GETDATE()) &lt;= <xsl:value-of select="$inDays"/>
    </xsl:if>
    <xsl:if test="$betDate != ''">
      AND (CM.UpdateTime &gt;= '<xsl:value-of select="substring-before($betDate,'|')" />' AND CM.UpdateTime &lt;= '<xsl:value-of select="substring-after($betDate,'|')" />')
    </xsl:if>
    <xsl:if test="$modelId != ''">
      AND CM.ModelID IN (<xsl:value-of select="$modelId"/>)
    </xsl:if>" /}
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>