<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT * FROM PE_U_Photo WHERE ID = @itemId</LabelSqlString>
  <LabelTemplate><![CDATA[<xsl:stylesheet version="2.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" >
<xsl:output method="xml" omit-xml-declaration="yes" xmlns:clitype="clitype:System.String" exclude-result-prefixes="msxsl clitype csharp"  indent="yes" />
<xsl:template match="/">
</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>信息ID</intro>
  </attributes>
</root>