<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点ID{默认值:0,传入值:@RequestInt_Id}</intro>
  </attributes>
  <attributes>
    <name>inDays</name>
    <datatype>supersql</datatype>
    <default />
    <intro>近多少天的项目</intro>
  </attributes>
  <attributes>
    <name>betDate</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>介于日期内的评论</intro>
  </attributes>
  <attributes>
    <name>score</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>评分大于等于多少的评论</intro>
  </attributes>
  <attributes>
    <name>position</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>发表评论观点:0中立,1赞同,-1反对</intro>
  </attributes>
  <attributes>
    <name>includeChildNode</name>
    <datatype>supersql</datatype>
    <default>false</default>
    <intro>是否包含子栏目</intro>
  </attributes>
  <attributes>
    <name>isElite</name>
    <datatype>string</datatype>
    <default>false</default>
    <intro>是否是精华评论</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT N.arrChildID FROM PE_Nodes N WHERE N.NodeID = @nodeId</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:LEWI="http://www.powereasy.net"  xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:msxsl="urn:schemas-microsoft-com:xslt" xmlns:pe="labelproc" exclude-result-prefixes="LEWI msxsl pe">
  <!--new version 2.0 by lewi at www.powereasy.net 2008-10-29-->
  <xsl:param name="nodeId" />
  <xsl:param name="inDays" />
  <xsl:param name="betDate" />
  <xsl:param name="position" />
  <xsl:param name="score" />
  <xsl:param name="isElite" />
  <xsl:param name="includeChildNode" />
  <xsl:output method="html" indent="yes"/>
  <xsl:template match="/">
    {PE.Label id="PE-显示取得栏目下项目总数" queryCond="SELECT COUNT (*) AS Total
    FROM
    PE_Comment CM
    WHERE
    CM.Status = 1
    <xsl:if test="$nodeId != ''">
      AND CM.NodeID IN (
      <xsl:choose>
        <xsl:when test="$includeChildNode = 'true'">
          <xsl:value-of select="NewDataSet/Table/arrChildID"/>
        </xsl:when>
        <xsl:otherwise>
          <xsl:value-of select="$nodeId"/>
        </xsl:otherwise>
      </xsl:choose>)
    </xsl:if>
    <xsl:if test="$inDays != ''">
      AND DATEDIFF(d,CM.UpdateDateTime,GETDATE()) &lt;= <xsl:value-of select="$inDays"/>
    </xsl:if>
    <xsl:if test="$betDate != ''">
      AND (CM.UpdateDateTime &gt;= '<xsl:value-of select="substring-before($betDate,'|')" />' AND CM.UpdateDateTime &lt;= '<xsl:value-of select="substring-after($betDate,'|')" />')
    </xsl:if>
    <xsl:if test="$position != ''">
      AND Position = <xsl:value-of select="$position"/>
    </xsl:if>
    <xsl:if test="$score != ''">
      AND Score &gt;= <xsl:value-of select="$score"/>
    </xsl:if>
    <xsl:if test="$isElite = 'true'">
      AND IsElite = 1
    </xsl:if>" /}
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>