<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <LabelTemplate><![CDATA[<link href="{PE.SiteConfig.SkinPath/}css/dropdownmenu.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.SkinPath/}js/dropdownmenu.js"></script>
<ul id="nav">{PE.Label id="PE-栏目多级下拉菜单" /}</ul>]]></LabelTemplate>
</root>