<root>
  <LabelType>增值类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>depth</name>
    <datatype>supersql</datatype>
    <default>5</default>
    <intro>显示多少层</intro>
  </attributes>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点ID</intro>
  </attributes>
  <LabelSqlString>SELECT * FROM PE_Nodes WHERE ParentID = @nodeId AND ShowOnMenu = 1 ORDER BY RootID,OrderID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="depth"/>
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="Child = 0">
<li>
<xsl:if test="Depth = 0">
<xsl:attribute name="class">top</xsl:attribute>
</xsl:if>
<a>
<xsl:attribute name="href">
<xsl:choose>
<xsl:when test="NodeType = 4">
<xsl:value-of select="LinkUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:GetNodePath(false,NodeID)"/>
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:if test="Depth = 0">
<xsl:attribute name="class">top_link</xsl:attribute>
</xsl:if>
<xsl:choose>
<xsl:when test="Depth = 0">
<span >
<xsl:if test="Depth=0 and Child&lt;0">
<xsl:attribute name="class">down</xsl:attribute>
</xsl:if>
<xsl:value-of  select="NodeName"/>
</span>
</xsl:when>
<xsl:otherwise>
<xsl:value-of  select="NodeName"/>
</xsl:otherwise>
</xsl:choose>
</a>
</li>
</xsl:when>
<xsl:otherwise>
<li >
<xsl:if test="Depth = 0">
<xsl:attribute name="class">top</xsl:attribute>
</xsl:if>
<a class="fly">
<xsl:attribute name="href">
<xsl:choose>
<xsl:when test="NodeType = 4">
<xsl:value-of select="LinkUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:GetNodePath(false,NodeID)"/>
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:if test="Depth = 0">
<xsl:attribute name="class">top_link</xsl:attribute>
</xsl:if>
<xsl:choose>
<xsl:when test="Depth = 0">
<span class="down">
<xsl:value-of  select="NodeName"/>
</span>
</xsl:when>
<xsl:otherwise>
<xsl:value-of  select="NodeName"/>
</xsl:otherwise>
</xsl:choose>
</a>
<xsl:if test="Child&gt;0 and Depth&lt;$depth">
<ul>
<xsl:if test="ParentID = 0">
<xsl:attribute name="class">sub</xsl:attribute>
</xsl:if>
{PE.Label id="PE-栏目多级下拉菜单" nodeId="<xsl:value-of select="NodeID"/>" depth="<xsl:value-of select="$depth"/>" /}
</ul>
</xsl:if>
</li>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>