<?xml version="1.0"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT 
  N.NodeID,
  N.ParentID,
  N.NodeName,
  N.Tips
FROM
  dbo.PE_Nodes N
WHERE
  N.ShowOnMenu = 1 AND 
  N.Depth < @depth
ORDER BY
  N.NodeID]]></LabelSqlString>
  <attributes>
    <name>enableInsideScript</name>
    <default>true</default>
    <intro>是否启用内置脚本,当然您可以不选择此项自行引入</intro>
  </attributes>
  <attributes>
    <name>enableInsideCSS</name>
    <default>true</default>
    <intro>是否启用内部样式表,当然您可以不选择此项自行引入</intro>
  </attributes>
  <attributes>
    <name>closeSameLevel</name>
    <default>true</default>
    <intro>自动关闭同层级节点</intro>
  </attributes>
  <attributes>
    <name>showTips</name>
    <default>true</default>
    <intro>是否显示栏目提示</intro>
  </attributes>
  <attributes>
    <name>useCookies</name>
    <default>true</default>
    <intro>启用Cookies,启用后会保留客户树开启状态</intro>
  </attributes>
  <attributes>
    <name>folderLinks</name>
    <default>true</default>
    <intro>是否启用父节点链接模式</intro>
  </attributes>
  <attributes>
    <name>useLines</name>
    <default>true</default>
    <intro>是否启用装饰线</intro>
  </attributes>
  <attributes>
    <name>useIcons</name>
    <default>true</default>
    <intro>是否启用图标</intro>
  </attributes>
  <attributes>
    <name>inOrder</name>
    <default>true</default>
    <intro>是否启用排序加速</intro>
  </attributes>
  <attributes>
    <name>useStatusText</name>
    <default>true</default>
    <intro>代替URL在状态栏上显示的节名名称</intro>
  </attributes>
  <attributes>
    <name>openType</name>
    <default>_blank</default>
    <intro>连接打开方式</intro>
  </attributes>
  <attributes>
    <name>iconRoot</name>
    <default>Template/PluginLabelPlus/img/iconRoot.gif</default>
    <intro>根节点图标</intro>
  </attributes>
  <attributes>
    <name>iconFolder</name>
    <default>Template/PluginLabelPlus/img/iconFolder.gif</default>
    <intro>带子节点的节点图标</intro>
  </attributes>
  <attributes>
    <name>iconFolderOpen</name>
    <default>Template/PluginLabelPlus/img/iconFolderOpen.gif</default>
    <intro>带子节点的节点图标打开状态</intro>
  </attributes>
  <attributes>
    <name>iconNode</name>
    <default>Template/PluginLabelPlus/img/iconNode.gif</default>
    <intro>节点图标</intro>
  </attributes>
  <attributes>
    <name>iconEmpty</name>
    <default>Template/PluginLabelPlus/img/iconEmpty.gif</default>
    <intro>空白图标</intro>
  </attributes>
  <attributes>
    <name>iconLine</name>
    <default>Template/PluginLabelPlus/img/iconLine.gif</default>
    <intro>线条</intro>
  </attributes>
  <attributes>
    <name>iconJoin</name>
    <default>Template/PluginLabelPlus/img/iconJoin.gif</default>
    <intro>接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconJoinBottom</name>
    <default>Template/PluginLabelPlus/img/iconJoinBottom.gif</default>
    <intro>底部接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconPlus</name>
    <default>Template/PluginLabelPlus/img/iconPlus.gif</default>
    <intro>加号接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconPlusBottom</name>
    <default>Template/PluginLabelPlus/img/iconPlusBottom.gif</default>
    <intro>底部加号接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconMinus</name>
    <default>Template/PluginLabelPlus/img/iconMinus.gif</default>
    <intro>减号接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconMinusBottom</name>
    <default>Template/PluginLabelPlus/img/iconMinusBottom.gif</default>
    <intro>底部减号接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconNoLinePlus</name>
    <default>Template/PluginLabelPlus/img/iconNoLinePlus.gif</default>
    <intro>无线条加号接合点图标</intro>
  </attributes>
  <attributes>
    <name>iconNoLineMinus</name>
    <default>Template/PluginLabelPlus/img/iconNoLineMinus.gif</default>
    <intro>无线条减号接合点图标</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="enableInsideScript" />
<xsl:param name="enableInsideCSS" />
<xsl:param name="enableDefaultOpenNodeId" />
<xsl:param name="defaultOpenNodeId" />
<xsl:param name="closeSameLevel" />
<xsl:param name="useCookies" />
<xsl:param name="folderLinks" />
<xsl:param name="useLines" />
<xsl:param name="useIcons" />
<xsl:param name="inOrder" />
<xsl:param name="useStatusText" />
<xsl:param name="openType" />
<xsl:param name="showTips" />
<xsl:param name="iconRoot" />
<xsl:param name="iconFolder" />
<xsl:param name="iconFolderOpen" />
<xsl:param name="iconNode" />
<xsl:param name="iconEmpty" />
<xsl:param name="iconLine" />
<xsl:param name="iconJoin" />
<xsl:param name="iconJoinBottom" />
<xsl:param name="iconPlus" />
<xsl:param name="iconPlusBottom" />
<xsl:param name="iconMinus" />
<xsl:param name="iconMinusBottom" />
<xsl:param name="iconNoLinePlus" />
<xsl:param name="iconNoLineMinus" />
<xsl:template match="/">
<xsl:if test="$enableInsideScript='true'">
<script language="javascript" type="text/javascript" >
<xsl:attribute name="src">
<xsl:value-of select="pe:InstallDir()"/>Template/PluginLabelPlus/js/lewitree.js</xsl:attribute>
</script>
</xsl:if>
<xsl:if test="$enableInsideCSS='true'">
<style type="text/css">
.LewiTree{color:#666;font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif;font-size:12px}
.LewiTree img{border:0px;vertical-align:middle}
.LewiTree a{color:#333;text-decoration:none}
.LewiTree a.node,.LewiTree a.nodeSel{padding:1px 2px 1px 2px;white-space:nowrap}
.LewiTree a.node:hover,.LewiTree a.nodeSel:hover{color:#333;text-decoration:underline}
.LewiTree a.nodeSel{background-color:#c0d2ec}
.LewiTree .clip{overflow:hidden}
</style>
</xsl:if>
<script type="text/javascript">
lewi = new LewiTree('lewi');
lewi.config.useStatusText=<xsl:value-of select="$useStatusText" />;
lewi.config.closeSameLevel=<xsl:value-of select="$closeSameLevel" />;
lewi.config.useCookies=<xsl:value-of select="$useCookies" />;
lewi.config.target="<xsl:value-of select="$openType" />";
lewi.config.folderLinks=<xsl:value-of select="$folderLinks" />;
lewi.config.useSelection=true;
lewi.config.useLines=<xsl:value-of select="$useLines" />;
lewi.config.useIcons=<xsl:value-of select="$useIcons" />;
lewi.config.inOrder=<xsl:value-of select="$inOrder" />;
lewi.icon.root='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconRoot" />';
lewi.icon.folder='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconFolder" />';
lewi.icon.folderOpen='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconFolderOpen" />';
lewi.icon.node='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconNode" />';
lewi.icon.empty='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconEmpty" />';
lewi.icon.line='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconLine" />';
lewi.icon.join='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconJoin" />';
lewi.icon.joinBottom='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconJoinBottom" />';
lewi.icon.plus='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconPlus" />';
lewi.icon.plusBottom='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconPlusBottom" />';
lewi.icon.minus='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconMinus" />';
lewi.icon.minusBottom='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconMinusBottom" />';
lewi.icon.nlPlus='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconNoLinePlus" />';
lewi.icon.nlMinus='<xsl:value-of select="pe:InstallDir()"/>
<xsl:value-of select="$iconNoLineMinus" />';
lewi.add(0,-1,'<xsl:value-of select="pe:SiteName()"/>首页','<xsl:value-of select="pe:SitePath()"/>'<xsl:if test="$showTips='true'">,'<xsl:value-of select="Tips"/>'</xsl:if>);
<xsl:for-each select="/NewDataSet/Table">lewi.add(<xsl:value-of select="NodeID"/> ,<xsl:value-of select="ParentID"/> ,'<xsl:value-of select="NodeName"/> ','<xsl:value-of select="pe:GetNodePath(false,NodeID)"/>'<xsl:if test="$showTips='true'">,'<xsl:value-of select="Tips"/>'</xsl:if>);</xsl:for-each>
document.write(lewi);
<xsl:if test="$enableDefaultOpenNodeId='true'">
window.onload=lewi.openTo(<xsl:value-of select="$enableDefaultOpenNodeId" />, true)
</xsl:if>
</script>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>depth</name>
    <default>10</default>
    <intro>最多显示多少层</intro>
  </attributes>
  <attributes>
    <name>defaultOpenNodeId</name>
    <default>1</default>
    <intro>默认开启的节点ID</intro>
  </attributes>
  <attributes>
    <name>enableDefaultOpenNodeId</name>
    <default>true</default>
    <intro>是否开启指定节点为打开状态</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
</root>