<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>增值类</LabelType>
  <LabelIntro />
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT * FROM PE_Nodes @constraint AND ShowOnMenu = 1 ORDER BY RootID,OrderID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
    <xsl:param name="nodeId"/>
    <xsl:param name="displayTips"/>
    <xsl:param name="itemOpenType"/>
    <xsl:param name="folderLinks"/>
    <xsl:param name="closeSameLevel"/>
    <xsl:param name="inOrder"/>
    <xsl:param name="useSelection"/>
    <xsl:param name="useCookies"/>
    <xsl:param name="useLines"/>
    <xsl:param name="useIcons"/>
    <xsl:param name="useStatusText"/>
    <xsl:output method="html" indent="no"/>
    <xsl:template match="NewDataSet">

		<link rel="stylesheet" type="text/css">
			<xsl:attribute name="href">{PE.SiteConfig.SkinPath/}PE-Extra/dTree/dtree.css</xsl:attribute>
		</link>
		
        <script type="text/javascript"><xsl:attribute name="src">{PE.SiteConfig.SkinPath/}PE-Extra/dTree/dTree.js</xsl:attribute></script>


        <script type="text/javascript">
            d = new dTree('d','{PE.SiteConfig.SkinPath/}PE-Extra/dTree/img/');
            <xsl:if test="$folderLinks = 'true'">
                d.config.folderLinks=true;
            </xsl:if>
            <xsl:if test="$closeSameLevel = 'true'">
                d.config.closeSameLevel=true;
            </xsl:if>
            <xsl:if test="$inOrder = 'true'">
                d.config.inOrder=true;
            </xsl:if>
            <xsl:if test="$useSelection = 'true'">
                d.config.useSelection=true;
            </xsl:if>
            <xsl:if test="$useCookies = 'true'">
                d.config.useCookies=true;
            </xsl:if>
            <xsl:if test="$useLines = 'true'">
                d.config.useLines=true;
            </xsl:if>
            <xsl:if test="$useIcons = 'true'">
                d.config.useIcons=true;
            </xsl:if>
            <xsl:if test="$useStatusText = 'true'">
                d.config.useStatusText=true;
            </xsl:if>
            <xsl:choose>
                <xsl:when test="$nodeId = 0">
                    d.add(0,-1,'<xsl:value-of select="pe:SiteTitle()"/>','<xsl:value-of select="pe:SitePath()"/>');
                </xsl:when>
                <xsl:otherwise>
                    d.add(<xsl:value-of select="$nodeId" />,-1,'<xsl:value-of select="pe:GetNode($nodeId,'name')"/>','<xsl:value-of select="pe:GetNodePath('false',$nodeId)"/>','<xsl:if test="$displayTips = 'true'">
                        <xsl:value-of select="Tips"/>
                    </xsl:if>','<xsl:choose>
                        <xsl:when test="$itemOpenType = 0">
                            <xsl:choose>
                                <xsl:when test="pe:GetNodeFieldName($nodeId, 'OpenType') = 0">_self</xsl:when>
                                <xsl:otherwise>_blank</xsl:otherwise>
                            </xsl:choose>
                        </xsl:when>
                        <xsl:when test="$itemOpenType = 1">
                            <xsl:choose>
                                <xsl:when test="pe:GetNodeFieldName($nodeId, 'OpenType') = 0">_self</xsl:when>
                                <xsl:otherwise>_blank</xsl:otherwise>
                            </xsl:choose>
                        </xsl:when>
                        <xsl:when test="$itemOpenType = 2">_self</xsl:when>
                        <xsl:otherwise> _blank</xsl:otherwise>
                    </xsl:choose>');
                </xsl:otherwise>
            </xsl:choose>
            <xsl:for-each select="Table">
                d.add(<xsl:value-of select="NodeID"/>,<xsl:value-of select="ParentID"/>,'<xsl:value-of select="NodeName"/>','<xsl:value-of select="pe:GetNodePath('false',NodeID)"/>','<xsl:if test="$displayTips = 'true'">
                    <xsl:value-of select="Tips"/>
                </xsl:if>','<xsl:choose>
                    <xsl:when test="$itemOpenType = 0">
                        <xsl:choose>
                            <xsl:when test="pe:GetNodeFieldName(NodeID, 'OpenType') = 0">_self</xsl:when>
                            <xsl:otherwise>_blank</xsl:otherwise>
                        </xsl:choose>
                    </xsl:when>
                    <xsl:when test="$itemOpenType = 1">
                        <xsl:choose>
                            <xsl:when test="pe:GetNodeFieldName($nodeId, 'OpenType') = 0">_self</xsl:when>
                            <xsl:otherwise>_blank</xsl:otherwise>
                        </xsl:choose>
                    </xsl:when>
                    <xsl:when test="$itemOpenType = 2">_self</xsl:when>
                    <xsl:otherwise> _blank</xsl:otherwise>
                </xsl:choose>');
            </xsl:for-each>
            document.write(d);
        </script>
    </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <attributes>
    <name>constraint</name>
    <datatype>supersql</datatype>
    <default />
    <intro>约束条件</intro>
  </attributes>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>节点ID</intro>
  </attributes>
  <attributes>
    <name>itemOpenType</name>
    <datatype>int</datatype>
    <default>0</default>
    <intro>节点链接打开方式</intro>
  </attributes>
  <attributes>
    <name>defaultOpenNode</name>
    <datatype>int</datatype>
    <default>0</default>
    <intro>默认开启的节点</intro>
  </attributes>
  <attributes>
    <name>useSelection</name>
    <datatype>bool</datatype>
    <default>true</default>
    <intro>节点可以选择并高亮显示</intro>
  </attributes>
  <attributes>
    <name>useLines</name>
    <datatype>bool</datatype>
    <default>true</default>
    <intro>使用线条</intro>
  </attributes>
  <attributes>
    <name>useIcons</name>
    <datatype>bool</datatype>
    <default>true</default>
    <intro>使用图标</intro>
  </attributes>
  <attributes>
    <name>useStatusText</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>使用节点名称代替状态栏的URL地址</intro>
  </attributes>
  <attributes>
    <name>useCookies</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>使用Cookie记住节点状态</intro>
  </attributes>
  <attributes>
    <name>inOrder</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>如果父节点的出现顺序总是在其子节点之前，开启此项将会提高速度</intro>
  </attributes>
  <attributes>
    <name>folderLinks</name>
    <datatype>bool</datatype>
    <default>true</default>
    <intro>父节点允许链接</intro>
  </attributes>
  <attributes>
    <name>closeSameLevel</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>关闭其他同层级节点</intro>
  </attributes>
  <attributes>
    <name>displayTips</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>显示节点提示信息</intro>
  </attributes>
  <Version officialVersion="" modifiedVersions="4700" compatibleVersion="" />
</root>