<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>其他类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>True</EnabelAjax>
  <Version officialVersion="" modifiedVersions="4702" compatibleVersion="" />
  <attributes>
    <name>SurveyID</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>参数说明</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>select Description from PE_Survey where SurveyID = @SurveyID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<!--params-->
<xsl:output method="html" />
<xsl:template match="/">
<xsl:value-of disable-output-escaping="yes" select="pe:ReplaceText(pe:ReplaceText(NewDataSet/Table/Description,'&#32;','&amp;nbsp;') ,'&#13;','&lt;br/&gt;')" />
</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>