<root>
    <LabelType></LabelType>
    <LabelImage>../../Admin/Images/LabelIco/GetPicProduct.gif</LabelImage>
    <LabelIntro></LabelIntro>
    <OutType>sin</OutType>
    <LabelDataType>sql_sysquery</LabelDataType>
    <attributes>
        <name>itemId</name>
        <datatype>supersql</datatype>
        <default>6</default>
        <intro>相关编号</intro>
    </attributes>
    <attributes>
        <name>outputQty</name>
        <datatype>supersql</datatype>
        <default>10</default>
        <intro>输出多少条</intro>
    </attributes>
    <LabelSqlString>SELECT DISTINCT(C.ModelID),M.ModelName FROM PE_CorrelativeItems C INNER JOIN PE_Model M ON (C.ModelID = M.ModelID) WHERE C.GeneralID = @itemId</LabelSqlString>
    <LabelTemplate>
        <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
  <xsl:output method="html" />
  <xsl:param name="itemId"/>
  <xsl:param name="outputQty"/>
  <xsl:template match="/">
    <xsl:choose>
      <xsl:when test="count(/NewDataSet/Table) = 0">
        <li class="noData">没有相关内容！</li>
      </xsl:when>
      <xsl:otherwise>
      
              <xsl:for-each select="/NewDataSet/Table">
           
                {PE.Label id="内容页相关信息_普通式" modelID="<xsl:value-of select="ModelID" />" outputQty="<xsl:value-of select="$outputQty" />" generalID="<xsl:value-of select="$itemId"/>" /}
              </xsl:for-each>
        
      </xsl:otherwise>
    </xsl:choose>
  </xsl:template>
</xsl:transform>]]>
    </LabelTemplate>
    <EnabelAjax>False</EnabelAjax>
    <IsXsltSql>false</IsXsltSql>
    <IsXsltCountSql>false</IsXsltCountSql>
</root>