<?xml version="1.0"?>
<root>
  <LabelType>其他类</LabelType>
  <LabelIntro />
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodes</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点ID,支持数组如:(1,2,3,4,5){默认值:0,自动传入:@RequestInt_Id}</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT N.arrChildID FROM PE_Nodes N WHERE N.NodeID IN (@nodes)</LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table) = 0">0</xsl:when>
<xsl:otherwise>
<xsl:for-each select="/NewDataSet/Table">
<xsl:value-of select="arrChildID"/>,</xsl:for-each>0
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
</root>