<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>其他类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>节点Id</intro>
  </attributes>
  <attributes>
    <name>className</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>类名称</intro>
  </attributes>
  <attributes>
    <name>outputType</name>
    <datatype>string</datatype>
    <default>linked</default>
    <intro>配置输出的类型</intro>
  </attributes>
  <attributes>
    <name>openType</name>
    <default>2</default>
    <intro>打开方式：1为新窗口，2为按节点配置，其它数值为原窗口打开</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT TOP 1 OpenType FROM PE_Nodes WHERE NodeID=@nodeId</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<!--params-->
<xsl:param name="nodeId" />
<xsl:param name="outputType" />
<xsl:param name="className" />
<xsl:param name="openType" />
<xsl:template match="/NewDataSet/Table">

<xsl:choose>
	<xsl:when test="$outputType = 'normal'">
	<xsl:value-of select="pe:GetNodePath('false',$nodeId)"/>
	</xsl:when>
	<xsl:otherwise>
	<a>
	<xsl:if test=" $className!='' ">
		<xsl:attribute name="class">
			<xsl:value-of select="$className" />
		</xsl:attribute>
	</xsl:if>

	 <xsl:if test="$openType = 1">
		<xsl:attribute name="target">_blank</xsl:attribute>		       
	</xsl:if>
	 <xsl:if test="$openType = 2 and OpenType = 1">
		<xsl:attribute name="target">_blank</xsl:attribute>		       
	</xsl:if>

	<xsl:attribute name="href">
	
	<xsl:value-of select="pe:GetNodePath('false',$nodeId)"/>
	</xsl:attribute>
	<xsl:value-of select="pe:GetNodeFieldName($nodeId, 'NodeName')"/>
	</a>
	</xsl:otherwise>
</xsl:choose>


</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <Version officialVersion="" modifiedVersions="3502" compatibleVersion="" />
</root>