<?xml version="1.0"?>
<root>
    <LabelType></LabelType>
    <LabelIntro></LabelIntro>
    <OutType>sin</OutType>
    <LabelDataType>sql_sysquery</LabelDataType>
    <attributes>
        <name>nodeId</name>
        <datatype>supersql</datatype>
        <default>0</default>
        <intro>当前所在的节点ID{默认值:0,自动传入:@RequestInt_Id}</intro>
    </attributes>
    <attributes>
        <name>displayNodeTips</name>
        <default>false</default>
        <intro>是否显示栏目节点描述语</intro>
    </attributes>
    <attributes>
        <name>linkOpenType</name>
        <datatype>supersql</datatype>
        <default>2</default>
        <intro>内容链接的打开方式{栏目节点配置取代:2,新窗口:1,原窗口:0}</intro>
    </attributes>
    <attributes>
        <name>splitChar</name>
        <datatype>supersql</datatype>
        <default>&gt;</default>
        <intro>节点之间拆分修饰符{&gt;&gt;:&gt;&gt;,-:-,&gt;:&gt;}</intro>
    </attributes>
    <LabelSqlString>SELECT N.NodeID,N.ParentID,N.NodeName,N.Tips,N.Child,N.NodeType,N.ShowOnPath FROM PE_Nodes N WHERE N.NodeID = @nodeId</LabelSqlString>
    <LabelTemplate>
        <![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi">
    <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
    <xsl:param name="nodeId" />
    <xsl:param name="displayNodeTips" />
    <xsl:param name="linkOpenType" />
    <xsl:param name="currentId" />
    <xsl:param name="splitChar" />
    <xsl:template match="/NewDataSet/Table">
        <xsl:if test="count(/NewDataSet/Table) &gt; 0">{PE.Label id="当前位置导航" nodeId="<xsl:value-of select="ParentID"/>" currentId="$nodeId" /}</xsl:if>
        <xsl:if test="ShowOnPath = 'true' or NodeType=3">
        <xsl:value-of select="$splitChar" />
                <a>
                    <xsl:attribute name="href">
                         <xsl:value-of select="pe:GetNodePath(false,NodeID)"/>
                    </xsl:attribute>
                    <xsl:attribute name="target">
                        <xsl:choose>
                            <xsl:when test="$linkOpenType = 2">
                                <xsl:choose>
                                    <xsl:when test="pe:GetNodeInfo(NodeID,'OpenType') = 0">_self</xsl:when>
                                    <xsl:otherwise>_blank</xsl:otherwise>
                                </xsl:choose>
                            </xsl:when>
                            <xsl:when test="$linkOpenType = 1">_blank</xsl:when>
                            <xsl:when test="$linkOpenType = 0">_self</xsl:when>
                            <xsl:otherwise>
                                <xsl:value-of select="$linkOpenType"/>
                            </xsl:otherwise>
                        </xsl:choose>
                    </xsl:attribute>
                    <xsl:if test="$displayNodeTips = 'true'">
                        <xsl:attribute name="title">
                            <xsl:value-of select="Tips" />
                        </xsl:attribute>
                    </xsl:if>
                    <xsl:value-of select="NodeName"/>
                </a>
	    </xsl:if>
    </xsl:template>
</xsl:stylesheet>
]]>
    </LabelTemplate>
    <EnabelAjax>False</EnabelAjax>
    <IsXsltSql>false</IsXsltSql>
    <IsXsltCountSql>false</IsXsltCountSql>
    <attributes>
        <name>currentId</name>
        <datatype>supersql</datatype>
        <default>0</default>
        <intro>参数说明</intro>
    </attributes>
</root>