<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>其它类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>select NodeId,Custom_Content from PE_Nodes where NodeID=@nodeid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<!-- 参数 -->
<xsl:param name="more"/>
<xsl:param name="nodeid"/>
<xsl:param name="num"/>
<xsl:param name="contentLength"/>
<xsl:param name="noDataHolder"/>
<xsl:template match="/">
<xsl:for-each select="/NewDataSet/Table">

	<xsl:choose>
		<xsl:when test="pe:GetCustomContent($num,Custom_Content) = ''">
			<xsl:if test="$noDataHolder = 'true'">暂无资料。</xsl:if>
		</xsl:when>
		<xsl:otherwise>

						<xsl:choose>
							<xsl:when test=" $contentLength=0 ">
								<xsl:value-of disable-output-escaping="yes" select="pe:GetCustomContent($num,Custom_Content) "/>
							</xsl:when>
							<xsl:otherwise>
								<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(pe:GetCustomContent($num,Custom_Content)),$contentLength,'…')" />
								<xsl:if test=" $more!='' ">
									<a class="more">
									<xsl:attribute name="href">
									<xsl:value-of select="pe:GetNodePath(false,$nodeid)"/>
									</xsl:attribute><xsl:value-of select="$more"/>
									</a>
								</xsl:if>
							</xsl:otherwise>
						</xsl:choose>

		</xsl:otherwise>
	</xsl:choose>



</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>contentLength</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>截取内容长度</intro>
  </attributes>
  <attributes>
    <name>more</name>
    <datatype>supersql</datatype>
    <default></default>
    <intro>当contentLength不等于0时有效，空为没有“更多”，可以设置“[详细]”等。</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>num</name>
    <default>1</default>
    <intro>自设内容序号</intro>
  </attributes>
  <attributes>
    <name>noDataHolder</name>
    <default>true</default>
    <intro>是否显示“暂无资料”</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <Version officialVersion="" modifiedVersions="3500" compatibleVersion="" />

</root>