<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>投票类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>titleLength</name>
    <datatype>int</datatype>
    <default>50</default>
    <intro>参与标题长度</intro>
  </attributes>
  <UsePage>True</UsePage>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT TOP @pagesize * FROM PE_VT_Vote WHERE ID NOT IN (SELECT TOP @startrow ID FROM PE_VT_Vote WHERE State = 1 ORDER BY ID DESC) AND State=1 ORDER BY ID DESC</LabelSqlString>
  <LabelSqlCount>select count(id) from PE_VT_Vote  WHERE State = 1</LabelSqlCount>
  <LabelSqlPage>
  </LabelSqlPage>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
    <xsl:output method="html" />
    <xsl:param name="titleLength" />
    <xsl:template match="/NewDataSet">
        <xsl:choose>
            <xsl:when test="count(/NewDataSet/Table) = 0">
                <span style="color:red">没有投票主题！</span>
            </xsl:when>
            <xsl:otherwise>
                <xsl:for-each select="/NewDataSet/Table">
                    <li>
                        <a href="{pe:InstallDir()}Vote/Vote.aspx?Id={Id}"  title="{Title}">
                            <xsl:value-of select="pe:CutText(Title,$titleLength,'…')" />
                        </a>
                    </li>
                </xsl:for-each> 
            </xsl:otherwise>
        </xsl:choose>
    </xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>