<root>
  <LabelType>投票类</LabelType>
  <LabelIntro></LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>

  <LabelSqlString>SELECT V.Title AS Vtitle, I.Title,I.TotalNumber,(select sum(TotalNumber) from PE_VT_VoteItem WHERE VoteId = '@reqId') AS totalVote FROM PE_VT_VoteItem I INNER JOIN PE_VT_Vote V ON (V.Id = I.VoteId) WHERE V.Id = @reqId AND V.State = 1 ORDER BY TotalNumber DESC </LabelSqlString>

<LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="reqId" />

<xsl:variable name="countnum" select="count(/NewDataSet/Table)"/>

<xsl:template match="/">
<h3 class="voteTitle"><xsl:value-of select="/NewDataSet/Table/Vtitle"/></h3>
<ul id="voteResultList" class="voteResultList">
	<xsl:for-each select="/NewDataSet/Table">
		<li class="item{position()}">
			<span class="tit"><xsl:value-of select="Title"/></span>
			<span class="row">
				<i class="rowCon">
				<xsl:attribute name="width">
				<xsl:choose>
					<xsl:when test=" TotalNumber=0 ">0%</xsl:when>
					<xsl:otherwise><xsl:value-of select="format-number( TotalNumber div totalVote,'##%')"/></xsl:otherwise>
				</xsl:choose>
				</xsl:attribute>
					<i></i>
				</i>
			</span>
			<span class="votes"><xsl:value-of select="TotalNumber"/>票</span>
			<span class="pre">( 
			<xsl:choose>
				<xsl:when test=" TotalNumber=0 ">0%</xsl:when>
				<xsl:otherwise><xsl:value-of select="format-number( TotalNumber div totalVote,'##%')"/></xsl:otherwise>
			</xsl:choose>)
			</span>
		</li>
	</xsl:for-each>
	<li class="last"><span class="tit"></span><span class="row"></span>共<xsl:value-of select="/NewDataSet/Table/totalVote"/>票</li>
</ul>
		<script type="text/javascript"> 
		jQuery(function($){
			$(".voteResultList .rowCon").each(function(){   var e=$(this);    setTimeout( function(){ e.animate( {width:e.attr("width")},400 ) },500);});   
		});
		</script>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  	<attributes>
		<name>reqId</name>
		<default>1</default>
		<intro></intro>
	</attributes>

  <CacheTime>0</CacheTime>
  <OutType>
  </OutType>
</root>