<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>投票类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>True</EnabelAjax>
  <attributes>
    <name>VoteId</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>信息投票ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT  * FROM PE_VT_Vote WHERE Id=@VoteId AND State > 0 </LabelSqlString>
  <LabelTemplate>
                          <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
    <xsl:output method="html" />
    <xsl:template match="/NewDataSet">
        <xsl:choose>
            <xsl:when test="count(/NewDataSet/Table) = 0">
                <span class="nodata" style="color:red">没有要显示的投票主题！</span>
            </xsl:when>
            <xsl:otherwise>
                <xsl:for-each select="/NewDataSet/Table">
                    <form id="Vote{Id}" action="{pe:InstallDir()}Vote/ShowVote.aspx" name="Vote{Id}" method="post"
                    target='_blank'>
                          <h4 class="title"><xsl:value-of select="Title" /></h4>
				 <ul>
                                    {PE.Label id="信息投票列表" VoteId="<xsl:value-of select="Id" />" IsCheck="<xsl:value-of select="IsCheck" />" titleLength="50" /}
				</ul>
			  <p>
				    <input id="ID" type="hidden" value="{Id}" name="ID" />
                                    <xsl:if test="State=1 and pe:TimeSpan(pe:FormatDate(pe:TimeNow(),'yyyy-mm-dd'),EndTime) >= 0">
                                        <input class="voteBtn" type="submit" value="投票" />  
                                    </xsl:if>	
				    <input class="viewBtn" type="button" onclick="location.href='/Vote/ShowVote.aspx?Id={Id}'" value="查看" />  
			  </p>


                    </form>
                </xsl:for-each>
            </xsl:otherwise>
        </xsl:choose>
    </xsl:template>
</xsl:transform>]]></LabelTemplate>
  <Version officialVersion="" modifiedVersions="3100" compatibleVersion="" />
</root>