<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>True</EnabelAjax>
<IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT TOP @outputQty *
FROM    PE_Comment CT
        INNER JOIN PE_CommonModel CM ON CT.GeneralID = CM.GeneralID
WHERE   CT.Status = 1
ORDER BY CM.UpdateTime DESC</LabelSqlString>
  <LabelSqlCount>
  </LabelSqlCount>
  <LabelTemplate>
          <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
  <xsl:param name="titleLength" />
  <xsl:param name="contentLength" />
  <xsl:output method="html" />
  <xsl:template match="NewDataSet">
      <xsl:choose>
        <xsl:when test="Table">
          <xsl:for-each select="Table">
            <li><span>
              [<xsl:value-of select="UserName"/>]
            </span>
            <a>
              <xsl:attribute name="href">
                <xsl:value-of select="pe:GetInfoPath(GeneralID)"/>
              </xsl:attribute>
              <xsl:attribute name="target">_blank</xsl:attribute>
              <xsl:value-of select="pe:CutText(pe:RemoveHtml(Content),$contentLength,'…')"/>
            </a></li>
          </xsl:for-each>
        </xsl:when>
        <xsl:otherwise>
          <li><font style="color:red">还没有任何内容！</font></li>
        </xsl:otherwise>
      </xsl:choose>
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>10</default>
    <intro>输出数量</intro>
  </attributes>
  <attributes>
    <name>contentLength</name>
    <datatype>supersql</datatype>
    <default>60</default>
    <intro>评论内容显示字符数</intro>
  </attributes>
</root>