<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>True</EnabelAjax>
<attributes>
    <name>itemId</name>
    <datatype>int</datatype>
    <default>1</default>
    <intro>项目ID</intro>
  </attributes>
  <attributes>
    <name>nodeId</name>
    <datatype>int</datatype>
    <default>1</default>
    <intro>项目所在的节点ID</intro>
  </attributes>
  <attributes>
    <name>targetId</name>
    <datatype>string</datatype>
    <default>commentForm</default>
    <intro>评论容器装载目标</intro>
  </attributes>
  <LabelTemplate>
              <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
  <xsl:param name="itemId" />
  <xsl:param name="nodeId" />
  <xsl:param name="targetId" />
  <xsl:variable name="rootDir" select="pe:InstallDir()"/>
  <xsl:output method="html" />
  <xsl:template match="/">
    <xsl:variable name="commentStyle">
      <ul class="msgAdd">
        <li class="msgAddTit">
	    <em>标题：</em>
            <input type="text" class="inputTxt" id="commentTitle"/>
        </li>

        <li class="msgAddUser">
	    <span id="commentRankingBlock">
              评分：
              <input type="image" onmouseout="rankingMouseOut()" onmouseover="rankingMouseOver(1)" onmousedown="rankingClick(1)" alt="星级1" src="{$rootDir}images/fstar.gif"/>
              <input type="image" onmouseout="rankingMouseOut()" onmouseover="rankingMouseOver(2)" onmousedown="rankingClick(2)" alt="星级2" src="{$rootDir}images/estar.gif"/>
              <input type="image" onmouseout="rankingMouseOut()" onmouseover="rankingMouseOver(3)" onmousedown="rankingClick(3)" alt="星级3" src="{$rootDir}images/estar.gif"/>
              <input type="image" onmouseout="rankingMouseOut()" onmouseover="rankingMouseOver(4)" onmousedown="rankingClick(4)" alt="星级4" src="{$rootDir}images/estar.gif"/>
              <input type="image" onmouseout="rankingMouseOut()" onmouseover="rankingMouseOver(5)" onmousedown="rankingClick(5)" alt="星级5" src="{$rootDir}images/estar.gif"/>
            </span> 
          <label id="commentUsernameBlock">
            <em>用户名：</em><input class="inputTxt" type="text" value="游客" id="commentUsername"/><i>*</i>
          </label>
          <label id="commentEmailBlock">
            <em>邮　箱：</em><input class="inputTxt" type="text" id="commentEmail"/><i>*</i>
          </label>
        </li>

<!--
        <li>
          <label>
            匿名发表<input type="checkbox" onclick="setAnonymous(this)" class="input_check"/>
          </label>
          <xsl:if test="pe:IsLogined() = 'true'">
            <label>
              隐藏内容<input type="checkbox" onclick="setPrivate(this)" class="input_check"/>
            </label>
          </xsl:if>
        </li>
-->
      </ul>
      <textarea wrap="on" id="commentContnet" />
      <div class="msgSubmitBar">
        <xsl:if test="pe:GetNodeInfo($nodeId,'EnableValidCode') = 'true'">
          <img align="absmiddle" style="border: medium none ; cursor: pointer;vertical-align: middle;"  src="{$rootDir}Controls/validateCodeImage.aspx" onclick="refreshValidCode(this);" id="commentValidCodeImg" title="看不清楚，换一个"/>
          <input type="text" class="inputTxt" onfocus="this.select();" size="12" id="commentValidCode" value="" maxlength="6" />
        </xsl:if> 
        <a href="javascript:addComment()" class="msgAddBtn btn" id="publish_msg"><span>发表评论</span></a>
      </div>
    </xsl:variable>
    <a name="#commentTarget"/>
 

    <div class="msgAddBox">
        <xsl:choose>
          <xsl:when test="pe:EnableComment($nodeId) = 'true'">
            <xsl:choose>
              <xsl:when test="pe:EnableTouristsComment($nodeId)='true'">
                <xsl:copy-of select="$commentStyle"/>
              </xsl:when>
              <xsl:otherwise>
                <xsl:choose>
                  <xsl:when test="pe:IsLogined() = 'true'">
                    <xsl:copy-of select="$commentStyle"/>
                  </xsl:when>
                  <xsl:otherwise>
                    <sapn style="color:red">该信息所属栏目不允许游客发表评论！</sapn>
                  </xsl:otherwise>
                </xsl:choose>
              </xsl:otherwise>
            </xsl:choose>
          </xsl:when>
          <xsl:otherwise>
            <xsl:choose>
              <xsl:when test="pe:UserPurview('commentcheck',$nodeId) = 'true'">
                <xsl:copy-of select="$commentStyle"/>
              </xsl:when>
              <xsl:otherwise>
                <sapn style="color:red">该信息所属栏目不允许发表评论！</sapn>
              </xsl:otherwise>
            </xsl:choose>
          </xsl:otherwise>
        </xsl:choose>
    </div>

   <div class="comListBox">
        <ul class="msgList" id="pe100_评论列表"></ul>
        <div class="page" id="pe100_page_评论列表"></div>
    </div>
    <input type="hidden" id="commentViewpoint" value="1" />
    <input type="hidden" id="commentIsPrivate" value="0" />
    <input type="hidden" id="commentIsAnonymous" value="false" />
    <input type="hidden" id="commentRanking" value="1" />
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>