<?xml version="1.0"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>GeneralId</name>
    <default>1</default>
    <intro>显示评论数</intro>
  </attributes>
  <LabelSqlString>SELECT cast(avg(cast(CM.Score as float)) as numeric(8,1)) as avgScore,C.CommentAudited FROM PE_CommonModel C INNER JOIN PE_Comment CM ON C.ItemID = CM.GeneralID WHERE C.GeneralID = @GeneralId GROUP BY C.CommentAudited </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titleLength" />
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table) != 0">
	<em class="stars"><i style="width: {format-number( avgScore div 5,'##%')};"></i></em>（<xsl:value-of select="CommentAudited" />人评）
</xsl:when>
<xsl:otherwise>
<span>
（还没有人评论）
</span>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>