<?xml version="1.0"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>GeneralId</name>
    <default>1</default>
    <intro></intro>
  </attributes>
  <LabelSqlString>SELECT cast(avg(cast(CM.Score as float)) as numeric(8,1)) as avgScore,C.CommentAudited FROM PE_CommonModel C INNER JOIN PE_Comment CM ON C.GeneralID = CM.GeneralID WHERE C.GeneralID = @GeneralId GROUP BY C.CommentAudited </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titleLength" />
<xsl:template match="/">

	<xsl:choose>
		<xsl:when test="count(/NewDataSet/Table) != 0">
			<em class="stars"><i style="width: {format-number( /NewDataSet/Table/avgScore div 5,'##%')};"></i></em><span class="s"><xsl:value-of select="format-number( /NewDataSet/Table/avgScore * 2,'#0.0')"/></span><span class="starsMan">（<xsl:value-of select="/NewDataSet/Table/CommentAudited" />人评）</span>
		</xsl:when>
		<xsl:otherwise>
			<em class="stars"><i style="width:0%"></i></em><span class="s">0.0</span><span class="starsMan">（0人评）</span>
		</xsl:otherwise>
	</xsl:choose>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>