<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>outputQty</name>
    <default>10</default>
    <intro>显示评论数</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @outputQty * FROM PE_Comment ORDER BY UpdateTime DESC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titleLength" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table) = 0">
<li style="color:red">没有评论!</li>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="/NewDataSet/Table">
<li>
<span>
<xsl:value-of select="pe:FormatDate(UpdateTime,'mm-dd')"/>
</span>
<a> <xsl:attribute name="href">
<xsl:value-of select="pe:GetInfoPath(GeneralID)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(CommentTitle,$titleLength,'…')"/>
</a>

</li>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>30</default>
    <intro>评论标题长度</intro>
  </attributes>
</root>