<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>True</EnabelAjax>
<attributes>
    <name>itemId</name>
    <datatype>sql.int</datatype>
    <default>13</default>
    <intro>项目Id</intro>
  </attributes>
  <UsePage>True</UsePage>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT TOP @pagesize * FROM PE_Comment WHERE CommentID NOT IN (SELECT TOP @startrow CommentID FROM PE_Comment WHERE GeneralID  = @itemId AND Status=1 ORDER BY UpdateTime DESC) AND (GeneralID = @itemId) AND Status=1 ORDER BY UpdateTime DESC</LabelSqlString>
  <LabelSqlCount>SELECT COUNT(*) FROM PE_Comment WHERE GeneralID  = @itemId AND Status=1</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
  <xsl:param name="itemId" />
  <xsl:variable name="rootDir" select="pe:InstallDir()"/>
  <xsl:variable name="stars">&lt;img src="<xsl:value-of select="$rootDir"/>images/fstar.gif"  alt="星级" /&gt;</xsl:variable>
  <xsl:variable name="_userName" select="pe:LoginedUserName()"/>
  <xsl:variable name="_isAdmin" select="pe:IsAdminLogined()"/>
  <xsl:output method="html" />
  <xsl:template name="_splitIp">
    <xsl:param name="_ipData"/>
    <xsl:choose>
      <xsl:when test="contains($_ipData,'.')">
        <xsl:value-of select="substring-before($_ipData,'.')"/>.
        <xsl:variable name="_after" select="substring-after($_ipData,'.')" />
        <xsl:choose>
          <xsl:when test="contains($_after,'.')">
            <xsl:call-template name="_splitIp">
              <xsl:with-param name="_ipData" select="$_after"/>
            </xsl:call-template>
          </xsl:when>
          <xsl:otherwise>* </xsl:otherwise>
        </xsl:choose>
      </xsl:when>
    </xsl:choose>
  </xsl:template>
  <xsl:template match="/NewDataSet/Table">
    <li>
      <div class="msgInfo">
        <span class="star">
          <em>评分：</em>
	  <em class="stars"><i style="width:{Score*2}0%;"></i></em>
        </span>
        <span class="reviewer"><xsl:value-of select="UserName"/></span>
        <span class="reviewerIP"> ( <xsl:call-template name="_splitIp"><xsl:with-param name="_ipData" select="IP"/></xsl:call-template> ) </span> 
	于 <xsl:value-of select="pe:FormatDate(UpdateTime,'yy-mm-dd hh:ff:ss')"/> 发表
      </div>
      <div class="msgContent">
	<div class="userPic">

		<xsl:choose>
			<xsl:when test=" UserName='游客' ">
				<xsl:element name="img">
					<xsl:attribute name="src">
						<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
					</xsl:attribute>
				</xsl:element>
			</xsl:when>
			<xsl:otherwise>
				{PE.Label id="通过用户名获取用户信息" outputType="4" name="<xsl:value-of select="UserName"/>"/}
			</xsl:otherwise>
		</xsl:choose>

	</div>
        <div class="msgCon">
		<div class="userSaid">
			  <xsl:choose>
			    <xsl:when test="IsPrivate = 'true'">
			      <xsl:choose>
				<xsl:when test="(UserName = $_userName or $_isAdmin = 'true')">
				  <xsl:value-of select="Content"/>
				</xsl:when>
				<xsl:otherwise>该内容设置了隐藏！</xsl:otherwise>
			      </xsl:choose>
			    </xsl:when>
			    <xsl:otherwise>
			      <xsl:value-of select="Content"/>
			    </xsl:otherwise>
			  </xsl:choose>
		</div>
			<xsl:if test="Reply != ''">
			  <div class="msgReply">
			    <span class="msgReplyer">管理员回复：</span>
			    <xsl:choose>
			      <xsl:when test="IsPrivate = 'true'">
				<xsl:choose>
				  <xsl:when test="(UserName = $_userName or $_isAdmin = 'true')">
				    <xsl:value-of select="Reply"/>
				  </xsl:when>
				  <xsl:otherwise>该内容设置了隐藏！</xsl:otherwise>
				</xsl:choose>
			      </xsl:when>
			      <xsl:otherwise>
				<xsl:value-of select="Reply"/>
			      </xsl:otherwise>
			    </xsl:choose>
			  </div>
			</xsl:if>
        </div><!-- msgCon END -->

      </div>
<!--
<div class="msg_replyer_box">
      <div class="reviewer_info">
<xsl:if test="UserName != '游客'">
<a href="{$rootDir}User/Message/Message.aspx?inceptUser={UserName}" title="短信" class="sms">短信</a>
</xsl:if>
<a href="mailto:{Email}" title="#" class="mail">邮件</a>[　支持：<em>{PE.Label id="评论辩论人数统计" commentId="<xsl:value-of select="CommentID"/>" position="1" /}</em>　中立：<em>{PE.Label id="评论辩论人数统计" commentId="<xsl:value-of select="CommentID"/>" position="0" /}</em>　反对：<em>{PE.Label id="评论辩论人数统计" commentId="<xsl:value-of select="CommentID"/>" position="-1" /}</em>　]
</div>
      <div class="return">
        <em>操作:</em>
          <a>
            <xsl:attribute name="href" >
              <xsl:value-of select="$rootDir"/>Comment/CommentPKZoneManage.aspx?Id=<xsl:value-of select="GeneralID" />&amp;CommentID=<xsl:value-of select="CommentID" />&amp;Title=<xsl:value-of select="CommentTitle" />
            </xsl:attribute> <xsl:attribute name="target">_blank</xsl:attribute>PK Zone
          </a>
          <a href="###" onclick="addPkZone({CommentID},1,'支持！')">支持</a>
          <a href="###" onclick="addPkZone({CommentID},-1,'反对！')">反对</a>
      </div>

</div>
-->
    </li>
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>