<?xml version="1.0"?>
<root>
  <LabelType>评论类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>commentId</name>
    <default>0</default>
    <intro>评论ID</intro>
  </attributes>
  <attributes>
    <name>position</name>
    <default>0</default>
    <intro>观点{中立:0,赞同:1,反对:-1}</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:lewi="http://www.powereasy.net" xmlns:pe="labelproc" exclude-result-prefixes="pe ms lewi">
  <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
  <xsl:template match="/NewDataSet/Table">
    <xsl:value-of select="Column1"/>
  </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <LabelSqlString>SELECT COUNT(*) FROM PE_CommentPK WHERE CommentID = @commentId AND Position = @position</LabelSqlString>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>