<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>

  <attributes>
    <name>boxID</name>
    <datatype>supersql</datatype>
    <default></default>
    <intro>boxID</intro>
  </attributes>
  <attributes>
    <name>nodeName</name>
    <datatype>supersql</datatype>
    <default></default>
    <intro>标题栏目名称</intro>
  </attributes>
  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>10</default>
    <intro>输出个数</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>36</default>
    <intro>标题长度</intro>
  </attributes>
   <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>@RequestInt_id</default>
    <intro>节点ID</intro>
  </attributes>
   <attributes>
    <name>listOrderType</name>
    <datatype>supersql</datatype>
    <default>20</default>
    <intro>listOrderType</intro>
  </attributes>
   <attributes>
    <name>models</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>models</intro>
  </attributes>

  <Version officialVersion="" modifiedVersions="4700" compatibleVersion="" />
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="boxID" />
<xsl:param name="nodeName" />
<xsl:param name="outputQty" />
<xsl:param name="titleLength" />
<xsl:param name="nodeId" />
<xsl:param name="listOrderType" />
<xsl:param name="models" />
<xsl:template match="/">

<div class="sideBox">
    <xsl:if test="$boxID != ''"><xsl:attribute name="id"><xsl:value-of select="$boxID" /></xsl:attribute></xsl:if>
    <div class="hd">
        <h3 class="title"><xsl:choose>
            <xsl:when test="$nodeName = ''">{PE.Label id="取得节点名称" nodeId="<xsl:value-of select="$nodeId"/>" /}</xsl:when>
            <xsl:otherwise><xsl:value-of select="$nodeName" /></xsl:otherwise>
        </xsl:choose></h3>
    </div>
    <div class="bd">
        <ul class="infoList infoListB">
            {PE.Label id="通用信息列表" outputQty="<xsl:value-of select="$outputQty"/>" titleLength="<xsl:value-of select="$titleLength" />" nodes="<xsl:value-of select="$nodeId"/>" listOrderType="<xsl:value-of select="$listOrderType" />" models="<xsl:value-of select="$models" />" /}
        </ul>
    </div>
</div>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>
