<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>

  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>10</default>
    <intro>输出个数</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>30</default>
    <intro>标题长度</intro>
  </attributes>
   <attributes>
    <name>currentId</name>
    <datatype>supersql</datatype>
    <default>@RequestInt_id</default>
    <intro>当前节点ID</intro>
  </attributes>

  <Version officialVersion="" modifiedVersions="4700" compatibleVersion="" />
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="outputQty" />
<xsl:param name="titleLength" />
<xsl:param name="currentId" />
<xsl:template match="/">

{PE.Label id="侧栏-信息模块" nodeId="<xsl:value-of select="$currentId"/>" outputQty="<xsl:value-of select="$outputQty" />" titleLength="<xsl:value-of select="$titleLength"/>" nodeName="热门排行" listOrderType="5" models="1,2" /}

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>
