<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>

  <attributes>
    <name>currentId</name>
    <datatype>supersql</datatype>
    <default>@RequestInt_id</default>
    <intro>当前节点ID</intro>
  </attributes>

  <Version officialVersion="" modifiedVersions="4700" compatibleVersion="" />
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="currentId" />
<xsl:template match="/">

<div id="sideMenuBox" class="sideBox">
    <div class="hd">
        <h3 class="title">{PE.Label id="取得节点名称" nodeid="{PE.Label id='父节点或自身' nodeId='<xsl:value-of select="$currentId"/>' /}" /}</h3>
    </div>
    <div class="bd">
        <ul class="menuList">
            {PE.Label id="子栏目列表" hasLi="true" parentId="{PE.Label id='父节点或自身' nodeId='<xsl:value-of select="$currentId"/>' /}" currentId="<xsl:value-of select="$currentId"/>" showOnMenu="true" /}
        </ul>
    </div>
</div>
<script type="text/javascript">
    if( jQuery("#sideMenuBox .bd li").size()==0 ){ jQuery("#sideMenuBox").hide() }
</script>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>
