<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="5000" compatibleVersion="" />
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default></default>
    <intro>内容id</intro>
  </attributes>
  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>10</default>
    <intro>输出数量</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>40</default>
    <intro>输出数量</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="itemId" />
<xsl:param name="outputQty" />
<xsl:param name="titleLength" />
<xsl:template match="/">

<xsl:if test="$itemId != ''">
    <xsl:variable name="optionalCond">AND CM.GeneralID IN (SELECT GeneralID FROM PE_KeywordRelationShip WHERE KeywordID IN (SELECT KeywordID FROM PE_KeywordRelationShip WHERE GeneralID='<xsl:value-of select="$itemId" />')) AND CM.GeneralID != '<xsl:value-of select="$itemId" />'</xsl:variable>

    {PE.Label id="通用信息列表" nodes="0" optionalCond="<xsl:value-of select="$optionalCond" />" outputQty="<xsl:value-of select="$outputQty" />" titleLength="<xsl:value-of select="$titleLength" />" /}
</xsl:if>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>