<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="5001" compatibleVersion="" />
  <attributes>
    <name>nodeId</name>
    <datatype>int</datatype>
    <default>0</default>
    <intro>节点id</intro>
  </attributes>
  <attributes>
    <name>field</name>
    <datatype>string</datatype>
    <default>Description</default>
    <intro>字段</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="nodeId" />
<xsl:param name="field" />
<xsl:template match="/">
<xsl:value-of select="pe:GetNodeInfo($nodeId, $field)"/>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>