<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="5001" compatibleVersion="" />
  <attributes>
    <name>placeholder</name>
    <datatype>string</datatype>
    <default>请输入搜索关键字</default>
    <intro>输入框默认占位文字</intro>
  </attributes>
  <attributes>
    <name>nodeId</name>
    <datatype>int</datatype>
    <default>@RequestInt_id</default>
    <intro>搜索栏目</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="placeholder" />
<xsl:param name="nodeId" />
<xsl:template match="/">

    <div class="siteSearch">
        <form action="{pe:GetSiteConfigInfo('InstallDir')}search.aspx" class="searchform" target="_blank">
            <label>文章搜索：</label>
            <select name="nodeId" class="nodeId">{PE.Label id="栏目分类下拉列表选项" nodeId="{PE.Label id="取得指定级别父节点信息" nodeId="<xsl:value-of select="$nodeId" />" depth="1" /}" depth="2" /}</select>
            <select name="fieldOption" class="fieldOption">
                <option value="title">文章标题</option>
                <option value="content">文章内容</option>
                <option value="author">文章作者</option>
                <option value="inputer">录入者</option>
                <option value="keyword">关键字</option>
            </select>
            <input type="hidden" name="searchtype" value="1" />
            <input type="hidden" name="ModelId" value="1" />
            <input type="text" class="keyword" autocomplete="off" name="keyword" placeholder="{$placeholder}" />
            <input type="submit" class="submit" value="搜索" />
        </form>
    </div>
    <script type="text/javascript">
    (function($){
        $(".searchform").submit(function(){
          var holder     = $(this).find(".keyword").attr("placeholder"),
              keyword    = $.trim($(this).find(".keyword").val()),
              searchType = $(this).find(".searchType").val();
          if (keyword == "" || keyword == holder) {
              alert(holder);
              $(this).find(".keyword").focus();
              return false;
          }
          if (searchType == "fulltext") {
              window.open("{PE.SiteConfig.ApplicationPath /}search/s.aspx?f=0&amp;wd=" + encodeURI(keyword));
              return false;
          }
        });
        if ($.browser.msie) {
            $(".searchform .keyword").each(function(){
                var holder = $(this).attr("placeholder");
                if ($(this).val()=="")$(this).val(holder);
                $(this).focus(function(){
                    if ($.trim($(this).val()) == holder)
                        $(this).val("");
                });
                $(this).blur(function(){
                    if ($.trim($(this).val()) == "") $(this).val(holder);
                });
            })
        }
    })(jQuery);
    </script>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>