<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
<LabelTemplate>
    <![CDATA[
    <span id="miniLogin">
        <a class="login" href="{PE.SiteConfig.ApplicationPath/}User/login.aspx" title="登录">登录</a>
        <a class="register" href="{PE.SiteConfig.ApplicationPath/}User/Register.aspx" title="注册">注册</a>
    </span>
    <span id="miniLogined" style="display: none">
        <strong>{username}</strong> 欢迎回来<a href="{PE.SiteConfig.ApplicationPath/}User/Default.aspx">[会员中心]</a>|<a id="loginoutBtn" href="{PE.SiteConfig.ApplicationPath /}User/Logout.aspx">[注销]</a>
    </span>

<script type="text/javascript">
(function() {
    $.pe.ajax('checkUserLogin', {
        success: function(response) {
            var _response = $(response);
            var _loginedUserInfo = $('#miniLogined');
            if (_response.find('status').text() == 'ok') {
                $('#miniLogin').hide();
                _loginedUserInfo.html($.pe.replaceUserInfoVariable(_loginedUserInfo.html(), _response)).show();
            }
        }
    })
})();
</script>]]></LabelTemplate>
</root>
