<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>PE-定制标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="4604" compatibleVersion="" />
  <LabelTemplate><![CDATA[

    <div id="topbar">
        <div class="container">
            <div class="fl">
                {PE.Label id="子栏目列表" parentid="1086" outputQty="99" splitchar="|" hasLi="false"/}
            </div>
            <div class="fr">
                <a href="javascript:AddFavorite('{PE.SiteConfig.SitePath /}','{PE.SiteConfig.SiteName /}')">加入收藏</a><span class="spe">|</span><a href="javascript:SetHome('{PE.SiteConfig.SitePath /}')">设为首页</a>
            </div>
        </div>
    </div>
    <!-- topbar e -->
    <div id="header">
        <div class="container">
            <h1 class="logo"><a href="{PE.SiteConfig.SitePath/}"><img src="{PE.SiteConfig.Logo/}" alt="{PE.SiteConfig.SiteName/}"/></a></h1>
            {PE.Label id="网站搜索" /}
        </div>
    </div>
    <!-- header e -->
    <div id="topNav">
        <div class="container">
            {PE.Label id="多级导航菜单" nodeid="0" depth="2" splitchar="0" outputQty="10" currentId="<xsl:value-of select="$currentId"/>"/}
        </div>
    </div>
    <!-- topNav e -->

]]></LabelTemplate>
  <attributes>
    <name>currentId</name>
    <datatype>supersql</datatype>
    <default>@RequestInt_id</default>
    <intro>当前节点ID</intro>
  </attributes>
</root>