<?xml version="1.0"?>
<root>
  <LabelType>改进类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
 
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro></intro>
  </attributes>

  <attributes>
    <name>modelId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro></intro>
  </attributes>

  <attributes>
    <name>type</name>
    <datatype>supersql</datatype>
    <default>id</default>
    <intro></intro>
  </attributes>

  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT TOP 1 * FROM PE_CommonModel WHERE NodeID = @nodeId AND Status=99 ORDER BY ItemID DESC</LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:param name="type"/>
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
	<xsl:choose>
		<xsl:when test="$type = 'id'">
			<xsl:value-of select="ItemID"/>
		</xsl:when>
		<xsl:when test="$type = 'url'">
			<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
		</xsl:when>
	</xsl:choose>

</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
</root>