<?xml version="1.0"?>
<root>
  <LabelType>改进类</LabelType>
  <LabelIntro>取得父节点信息</LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <attributes>
    <name>parentPath</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>当前节点父路径数组</intro>
  </attributes>
  <attributes>
    <name>depth</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点深度</intro>
  </attributes>
  <attributes>
    <name>fieldName</name>
    <datatype>supersql</datatype>
    <default>NodeID</default>
    <intro>字段名称</intro>
  </attributes>
  <LabelSqlString>SELECT @fieldName AS FieldName
FROM PE_Nodes WHERE NodeID
IN (@parentPath)
AND Depth = @depth</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:template match="/NewDataSet/Table"><xsl:value-of select="FieldName"/></xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>