<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>改进类</LabelType>
  <LabelIntro>取得指定级别父节点信息</LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>节点ID{默认值:1,传入值:@RequestInt_Id}</intro>
  </attributes>
  <attributes>
    <name>depth</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点深度</intro>
  </attributes>
  <attributes>
    <name>fieldName</name>
    <datatype>supersql</datatype>
    <default>NodeID</default>
    <intro>字段名称</intro>
  </attributes>
  <LabelSqlString>SELECT ParentPath From PE_Nodes WHERE NodeID = @nodeId</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="nodeId" />
<xsl:param name="fieldName" />
<xsl:param name="depth" />
<xsl:template match="/NewDataSet/Table">{PE.Label id="取得父节点信息" parentPath="<xsl:value-of select='ParentPath' />, <xsl:value-of select='$nodeId' />" fieldName="<xsl:value-of select='$fieldName' />" depth="<xsl:value-of select='$depth' />" /}</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <Version officialVersion="" modifiedVersions="3500" compatibleVersion="" />
</root>