<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>改进类</LabelType>
  <LabelIntro>子栏目列表</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>true</IsXsltSql>
  <IsXsltCountSql>true</IsXsltCountSql>
  <Version officialVersion="" modifiedVersions="4700" compatibleVersion="" />
  <UsePage>True</UsePage>

  <LabelSqlString><![CDATA[<?xml version="1.0" encoding="utf-8"?>
            <xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
            <xsl:output method="xml" omit-xml-declaration="yes" />
			<xsl:param name="showOnMenu"/>
            <xsl:param name="outputQty"/>
			<xsl:param name="picExist"/>
            <xsl:template match="/">
            <root>
            <sql>

				SELECT TOP @outputQty NodeID, NodeName,OpenType,arrChildID,NodePicUrl FROM PE_Nodes WHERE
				NodeID NOT IN(
					SELECT TOP @startrow NodeID FROM PE_Nodes WHERE ParentID = @parentid
                    <xsl:if test="$showOnMenu='true'">
                         AND ShowOnMenu = 1
                    </xsl:if>
					<xsl:if test="$picExist='true'">
						 AND NodePicUrl != ''
					</xsl:if>
					 AND PurviewType != 3  ORDER BY RootID, OrderID
				)
				AND ParentID = @parentid
				<xsl:if test="$showOnMenu='true'">
					 AND ShowOnMenu = 1
				</xsl:if>
                <xsl:if test="$picExist='true'">
                     AND NodePicUrl != ''
                </xsl:if>
				 AND PurviewType != 3  ORDER BY RootID, OrderID

            </sql>

			<countsql>
					select count(NodeID) from PE_Nodes WHERE ParentID = @parentid
					<xsl:if test="$showOnMenu='true'">
						 AND ShowOnMenu = 1
					</xsl:if>
                    <xsl:if test="$picExist='true'">
                         AND NodePicUrl != ''
                    </xsl:if>
					 AND PurviewType != 3
			</countsql>

            </root>
            </xsl:template>
            </xsl:transform>]]></LabelSqlString>

  <LabelSqlCount></LabelSqlCount>


  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="sql" />
<xsl:param name="parentid" />
<xsl:param name="splitchar"/>
<xsl:param name="hasLi"/>
<xsl:param name="hasHref"/>
<xsl:param name="openType"/>
<xsl:param name="currentId"/>
<xsl:param name="indexName"/>
<xsl:param name="hasTxt"/>
<xsl:param name="hasPic"/>
<xsl:param name="showTip"/>
<xsl:param name="imageWidth" />
<xsl:param name="imageHeight" />

<xsl:variable name="countnum" select="count(/NewDataSet/Table)"/>

<xsl:template match="/">


 <xsl:if test="$indexName != ''"><!--  当作为导航时 -->
		<xsl:choose>
			 <xsl:when test="$hasLi = 'true'">
				<li>
					<xsl:attribute name="class">li0 first<xsl:if test="$currentId = $parentid"> on</xsl:if></xsl:attribute>
					<xsl:if test=" $hasPic='true' ">
						<a class="pic">
						<xsl:if test=" $showTip='true' ">
						     <xsl:attribute name="title"><xsl:value-of select="NodeName" /></xsl:attribute>
						</xsl:if>
						 <xsl:if test="$openType = 1">
							<xsl:attribute name="target">_blank</xsl:attribute>
						</xsl:if>
						 <xsl:if test="$openType = 2 and OpenType = 1">
							<xsl:attribute name="target">_blank</xsl:attribute>
						</xsl:if>

						 <xsl:if test="$hasHref='true'">
							<xsl:attribute name="href">
							<xsl:value-of select="pe:GetNodePath('false',NodeID)" />
							</xsl:attribute>
						 </xsl:if>

				<xsl:element name="img">
					<xsl:attribute name="src">
						<xsl:choose>
						   <xsl:when test="NodePicUrl != ''">
								<xsl:choose>
									<xsl:when test=" $imageWidth!=0 or $imageHeight!=0 "><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(pe:ReplaceText(NodePicUrl,'UploadFiles/',''),$imageWidth,$imageHeight))"/>
									</xsl:when>
									<xsl:otherwise>{PE.SiteConfig.ApplicationPath /}<xsl:value-of select="NodePicUrl"/>
									</xsl:otherwise>
								</xsl:choose>

						   </xsl:when>
						    <xsl:otherwise>{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.UploadDir/}/nopic.gif</xsl:otherwise>
						</xsl:choose>
					</xsl:attribute>
				</xsl:element>
						</a>
					</xsl:if>

					<xsl:if test=" $hasTxt='true' ">
					<a>
						<xsl:if test=" $hasPic='true' "><xsl:attribute name="class">tit</xsl:attribute></xsl:if>
						<xsl:if test=" $showTip='true' ">
						     <xsl:attribute name="title"><xsl:value-of select="NodeName" /></xsl:attribute>
						</xsl:if>
						 <xsl:if test="$openType = 1">
							<xsl:attribute name="target">_blank</xsl:attribute>
						</xsl:if>

						 <xsl:if test="$hasHref='true'">
							<xsl:attribute name="href">
							<xsl:value-of select="pe:GetNodePath('false',$parentid)" />
							</xsl:attribute>
						 </xsl:if>
						<xsl:value-of select="$indexName"/>
					</a>
					</xsl:if>
				</li>
				<xsl:if test="$splitchar!=''"><li class="spe"><xsl:value-of select="$splitchar"/></li></xsl:if>
			 </xsl:when>

			<xsl:otherwise>
				 <a>
				 <xsl:attribute name="class">a0 first <xsl:if test="$currentId = $parentid"> on</xsl:if></xsl:attribute>
				<xsl:if test=" $showTip='true' ">
					 <xsl:attribute name="title"><xsl:value-of select="NodeName" /></xsl:attribute>
				</xsl:if>
				 <xsl:if test="$openType = 1">
					<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:if>


				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetNodePath('false',$parentid)" />
				</xsl:attribute>
				<xsl:value-of select="$indexName"/>
				</a>
				<xsl:if test="$splitchar!=''"><span class="spe"><xsl:value-of select="$splitchar"/></span></xsl:if>
		</xsl:otherwise>
	</xsl:choose>

</xsl:if>

<xsl:for-each select="/NewDataSet/Table"><!--  循环开始  -->

<xsl:choose>
     <xsl:when test="$hasLi = 'true'">
		<li>
			<xsl:attribute name="class">li<xsl:value-of select="position()" />
				<xsl:if test="position() = 1 and $indexName=''"> first</xsl:if>
				<xsl:if test="position() = last()"> last</xsl:if>
				<xsl:if test="contains(concat(',', arrChildID, ','), concat(',', $currentId, ','))"> on</xsl:if>
			</xsl:attribute>

			<xsl:if test=" $hasPic='true' ">
				<a class="pic">
				<xsl:if test=" $showTip='true' ">
					 <xsl:attribute name="title"><xsl:value-of select="NodeName" /></xsl:attribute>
				</xsl:if>
				 <xsl:if test="$openType = 1">
					<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:if>
				 <xsl:if test="$openType = 2 and OpenType = 1">
					<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:if>

				 <xsl:if test="$hasHref='true'">
					<xsl:attribute name="href">
					<xsl:value-of select="pe:GetNodePath('false',NodeID)" />
					</xsl:attribute>
				 </xsl:if>

				<xsl:element name="img">
					<xsl:attribute name="src">
						<xsl:choose>
						   <xsl:when test="NodePicUrl != ''">
								<xsl:choose>
									<xsl:when test=" $imageWidth!=0 or $imageHeight!=0 "><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(pe:ReplaceText(NodePicUrl,'UploadFiles/',''),$imageWidth,$imageHeight))"/>
									</xsl:when>
									<xsl:otherwise>{PE.SiteConfig.ApplicationPath /}<xsl:value-of select="NodePicUrl"/>
									</xsl:otherwise>
								</xsl:choose>

						   </xsl:when>
						    <xsl:otherwise>{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.UploadDir/}/nopic.gif</xsl:otherwise>
						</xsl:choose>
					</xsl:attribute>
				</xsl:element>
				</a>
			</xsl:if>




			<xsl:if test=" $hasTxt='true' ">
			<a>
				<xsl:if test=" $hasPic='true' "><xsl:attribute name="class">tit</xsl:attribute></xsl:if>
				<xsl:if test=" $showTip='true' ">
					 <xsl:attribute name="title"><xsl:value-of select="NodeName" /></xsl:attribute>
				</xsl:if>
				 <xsl:if test="$openType = 1">
					<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:if>
				 <xsl:if test="$openType = 2 and OpenType = 1">
					<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:if>

				 <xsl:if test="$hasHref='true'">
					<xsl:attribute name="href">
					<xsl:value-of select="pe:GetNodePath('false',NodeID)" />
					</xsl:attribute>
				 </xsl:if>
				      <xsl:value-of select="NodeName"/>
			</a>
			</xsl:if>

		</li>
		<xsl:if test="$splitchar!='' and position() !=last()"><li class="spe"><xsl:value-of select="$splitchar"/></li></xsl:if>
     </xsl:when>

	<xsl:otherwise>

		<a>
			<xsl:attribute name="class">a<xsl:value-of select="position()" />
				<xsl:if test="position() = 1 and $indexName=''"> first</xsl:if>
				<xsl:if test="position() = last()"> last</xsl:if>
				<xsl:if test="contains(concat(',', arrChildID, ','), concat(',', $currentId, ','))"> on</xsl:if>
			</xsl:attribute>
			<xsl:if test=" $showTip='true' ">
				 <xsl:attribute name="title"><xsl:value-of select="NodeName" /></xsl:attribute>
			</xsl:if>
			 <xsl:if test="$openType = 1">
				<xsl:attribute name="target">_blank</xsl:attribute>
			</xsl:if>
			 <xsl:if test="$openType = 2 and OpenType = 1">
				<xsl:attribute name="target">_blank</xsl:attribute>
			</xsl:if>

			 <xsl:if test="$hasHref='true'">
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetNodePath('false',NodeID)" />
				</xsl:attribute>
			 </xsl:if>
			  <xsl:value-of select="NodeName"/>
		</a>

	<xsl:if test="$splitchar!='' and position() !=last()"><span class="spe"><xsl:value-of select="$splitchar"/></span></xsl:if>
	</xsl:otherwise>
</xsl:choose>


</xsl:for-each>
</xsl:template>

</xsl:transform>]]></LabelTemplate>
      <attributes>
        <name>imageWidth</name>
        <default>0</default>
        <intro>自动缩略图宽</intro>
    </attributes>
    <attributes>
        <name>imageHeight</name>
        <default>0</default>
        <intro>自动缩略图高</intro>
    </attributes>
  <attributes>
    <name>showTip</name>
    <default>true</default>
    <intro>是否输出节点名称提示</intro>
  </attributes>
  <attributes>
    <name>showOnMenu</name>
    <default>false</default>
    <intro>当为true时,后台节点“是否在顶部菜单处显示”设置有效（常和indexName连用，作为导航）</intro>
  </attributes>
  <attributes>
    <name>indexName</name>
    <default>
    </default>
    <intro>首页名称，当不为空的时候，会增加一个链接到parentId节点，名称为indexName的链接（常用于作为子站导航）</intro>
  </attributes>
  <attributes>
    <name>currentId</name>
    <default>@RequestInt_id</default>
    <intro>当前id，用于增加当前class属性on</intro>
  </attributes>
  <attributes>
    <name>openType</name>
    <default>2</default>
    <intro>打开方式：1为新窗口，2为按节点配置，其它数值为原窗口打开</intro>
  </attributes>
  <attributes>
    <name>hasTxt</name>
    <default>true</default>
    <intro>是否输出文字，hasLi="true"时才有效</intro>
  </attributes>
  <attributes>
    <name>hasPic</name>
    <default>false</default>
    <intro>是否输出节点图片，hasLi="true"时才有效</intro>
  </attributes>
  <attributes>
    <name>hasHref</name>
    <default>true</default>
    <intro>是否有链接</intro>
  </attributes>
  <attributes>
    <name>hasLi</name>
    <default>true</default>
    <intro>是否输出li包裹元素</intro>
  </attributes>
  <attributes>
    <name>outputQty</name>
    <default>99999</default>
    <intro>输出个数</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>splitchar</name>
    <default>
    </default>
    <intro>分割符号，可以任何字符，常用"|",空为没有分割字符</intro>
  </attributes>
  <attributes>
    <name>picExist</name>
    <default>false</default>
    <intro>只输出有节点图片的节点</intro>
  </attributes>
  <CacheTime>0</CacheTime>
  <OutType>
  </OutType>

</root>