<?xml version="1.0" encoding="utf-8"?>

<root>
  <LabelType>改进类</LabelType>
  <LabelImage>
  </LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>

  <attributes>
    <name>advZoneId</name>
    <datatype>sql.int</datatype>
    <default>1</default>
    <intro>广告版位ID</intro>
  </attributes>

  <attributes>
    <name>hasLi</name>
    <datatype>bool</datatype>
    <default>false</default>
    <intro>是否输出li结构</intro>
  </attributes>

  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro></intro>
  </attributes>

  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString><![CDATA[SELECT TOP @outputQty A.ADName,A.ImgUrl,A.ADIntro,A.LinkUrl,A.LinkAlt,C.ZoneWidth,C.ZoneHeight,C.Active  FROM PE_Advertisement A 
  INNER JOIN PE_Zone_Advertisement B ON (A.ADID = B.ADID) INNER JOIN PE_AdZone C ON (B.ZoneID = C.ZoneID) 
  WHERE C.Active=1 AND A.ADType = 1 AND A.Passed = 1 AND B.ZoneID = @advZoneId AND A.OverdueDate >= GETDATE() ORDER BY A.Priority DESC,A.ADID DESC]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="hasLi" />
<xsl:template match="/">

<xsl:for-each select="/NewDataSet/Table">
    <xsl:if test="$hasLi = 'true'"><xsl:text disable-output-escaping="yes">&lt;li class="</xsl:text><xsl:value-of select="position()" /><xsl:text disable-output-escaping="yes">"&gt;</xsl:text></xsl:if>
    <xsl:choose>
        <xsl:when test="LinkUrl != '' and LinkUrl != 'http://'">
            <a target="_blank" href="{LinkUrl}">
                <img>
                    <xsl:if test="$hasLi = 'false'"><xsl:attribute name="class">ad<xsl:value-of select="position()" /></xsl:attribute></xsl:if>
                    <xsl:attribute name="src"><xsl:value-of select="pe:UpLoadDir()"/><xsl:value-of select="ImgUrl"/></xsl:attribute>
                    <xsl:attribute name="width"><xsl:value-of select="ZoneWidth" /></xsl:attribute>
                    <xsl:attribute name="height"><xsl:value-of select="ZoneHeight" /></xsl:attribute>
                </img>
            </a>
        </xsl:when>
        <xsl:otherwise>
            <img>
                <xsl:if test="$hasLi = 'false'"><xsl:attribute name="class">ad<xsl:value-of select="position()" /></xsl:attribute></xsl:if>
                <xsl:attribute name="src"><xsl:value-of select="pe:UpLoadDir()"/><xsl:value-of select="ImgUrl"/></xsl:attribute>
                <xsl:attribute name="width"><xsl:value-of select="ZoneWidth" /></xsl:attribute>
                <xsl:attribute name="height"><xsl:value-of select="ZoneHeight" /></xsl:attribute>
            </img>
        </xsl:otherwise>
    </xsl:choose>
    <xsl:if test="$hasLi = 'true'"><xsl:text disable-output-escaping="yes">&lt;/li&gt;</xsl:text></xsl:if>
</xsl:for-each>


</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <Version officialVersion="" modifiedVersions="3600" compatibleVersion="" />
</root>
