<?xml version="1.0" encoding="utf-8"?>

<root>
  <LabelType>改进类</LabelType>
  <LabelImage>
  </LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
	<attributes>
		<name>imageWidth</name>
		<default>400</default>
		<intro>自动缩略图宽</intro>
	</attributes>
	<attributes>
		<name>imageHeight</name>
		<default>300</default>
		<intro>自动缩略图高</intro>
	</attributes>
	<attributes>
		<name>imageWidth2</name>
		<default>400</default>
		<intro>自动缩略图宽</intro>
	</attributes>
	<attributes>
		<name>imageHeight2</name>
		<default>300</default>
		<intro>自动缩略图高</intro>
	</attributes>
	<attributes>
		<name>isCutPic</name>
		<default>true</default>
		<intro>是否裁剪缩略图</intro>
	</attributes>
  <attributes>
	<name>outputQty</name>
	<datatype>sql.int</datatype>
	<default>5</default>
	<intro>输出广告数量</intro>
  </attributes>
	<attributes>
	<name>titleLength</name>
	<datatype></datatype>
	<default>50</default>
	<intro>标题字数</intro>
  </attributes>
	<attributes>
	<name>contentLength</name>
	<datatype></datatype>
	<default>0</default>
	<intro>简介字数</intro>
  </attributes>
<attributes>
	<name>hasLink</name>
	<datatype></datatype>
	<default>true</default>
	<intro>大广告图是否有链接</intro>
  </attributes>
  <attributes>
	<name>advZoneId</name>
	<datatype>sql.int</datatype>
	<default>1</default>
	<intro>广告版位ID</intro>
  </attributes>
	<attributes>
	<name>optionalExtend</name>
	<datatype>string</datatype>
	<default>num</default>
	<intro>可选扩展参数，切换索引，当为picTitle时显示图片和标题，否则为数字</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString><![CDATA[SELECT TOP @outputQty A.ADName,A.ImgUrl,A.ADIntro,A.LinkUrl,A.LinkAlt,A.LinkTarget,C.ZoneWidth,C.ZoneHeight,C.Active
  FROM PE_Advertisement A INNER JOIN PE_Zone_Advertisement B ON (A.ADID = B.ADID)
  INNER JOIN PE_AdZone C ON (B.ZoneID = C.ZoneID) WHERE C.Active=1 AND A.ADType = 1 AND A.Passed = 1 AND B.ZoneID = @advZoneId AND A.OverdueDate >= GETDATE() ORDER BY A.Priority DESC,A.ADID DESC]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:param name="advZoneId" />
<xsl:param name="outputQty" />
<xsl:param name="optionalExtend" />
<xsl:param name="hasLink" />
<xsl:param name="titleLength" />
<xsl:param name="imageWidth" />
<xsl:param name="imageHeight" />
<xsl:param name="imageWidth2" />
<xsl:param name="imageHeight2" />
<xsl:param name="contentLength" />
<xsl:param name="isCutPic" />

<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table) = 0">
<div class="bd noData" >对不起，暂无资料。</div>
</xsl:when>
<xsl:otherwise>

	<div class="bd">
		<ul>
		<xsl:for-each select="/NewDataSet/Table">
		<li>
			<xsl:attribute name="class">li<xsl:value-of select="position()" /></xsl:attribute>
			<div class="pic">
				<xsl:choose>
					<xsl:when test=" $hasLink='true' ">
						<a href="{LinkUrl}">
						<xsl:attribute name="target">
							<xsl:choose>
							<xsl:when test="LinkTarget = 0">_self</xsl:when>
							<xsl:otherwise>_blank</xsl:otherwise>
							</xsl:choose>
						</xsl:attribute>
						<xsl:element name="img">
						<xsl:attribute name="height"><xsl:value-of select="$imageHeight" /></xsl:attribute>
						<xsl:attribute name="width"><xsl:value-of select="$imageWidth" /></xsl:attribute>
						<xsl:attribute name="src">
							<xsl:choose>
								<xsl:when test="ImgUrl != ''">
									<xsl:choose>
										<xsl:when test="$isCutPic ='true'"><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(ImgUrl,$imageWidth,$imageHeight))"/></xsl:when>
										<xsl:otherwise><xsl:value-of select="pe:ConvertAbsolutePath(ImgUrl)"/></xsl:otherwise>
									</xsl:choose>
								</xsl:when>
								<xsl:otherwise><xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
							</xsl:choose>
						</xsl:attribute>
						</xsl:element>
						</a>
					</xsl:when>
					<xsl:otherwise>
						<xsl:element name="img">
							<xsl:attribute name="height"><xsl:value-of select="$imageHeight" /></xsl:attribute>
							<xsl:attribute name="width"><xsl:value-of select="$imageWidth" /></xsl:attribute>
							<xsl:attribute name="src">
								<xsl:choose>
									<xsl:when test="ImgUrl != ''">
										<xsl:choose>
											<xsl:when test="$isCutPic ='true'"><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(ImgUrl,$imageWidth,$imageHeight))"/></xsl:when>
											<xsl:otherwise><xsl:value-of select="pe:ConvertAbsolutePath(ImgUrl)"/></xsl:otherwise>
										</xsl:choose>
									</xsl:when>
									<xsl:otherwise><xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
								</xsl:choose>
							</xsl:attribute>
						</xsl:element>
					</xsl:otherwise>
				</xsl:choose>
			</div>

			<div class="con">
				<div class="title">
					<a title="{ADName}" target="_balnk" href="{LinkUrl}">
					<xsl:attribute name="target">
						<xsl:choose>
						<xsl:when test="LinkTarget = 0">_self</xsl:when>
						<xsl:otherwise>_blank</xsl:otherwise>
						</xsl:choose>
					</xsl:attribute>
					<xsl:value-of select="pe:CutText(ADName,$titleLength,'…')" />
					</a>
				</div>
				  <xsl:if test=" $contentLength!=0 ">
				  <div class="intro">
					<xsl:value-of disable-output-escaping="yes"  select="pe:CutText(pe:RemoveHtml(ADIntro),$contentLength,'…')" />
					<a href="{LinkUrl}" class="more">[详细]</a>
				  </div>
				  </xsl:if>
				  <div class="bg"></div>
			  </div><!-- con end -->


		</li>
		</xsl:for-each>
	</ul>
	</div>


	<!-- hd S -->
	<div class="hd">
		<ul>
		<xsl:choose>
			<xsl:when test="$optionalExtend = 'picTitle'">
				<xsl:for-each select="/NewDataSet/Table">
					<li class="li{position()}">
						<div class="pic">
							<xsl:element name="img">
							<xsl:attribute name="src">
								<xsl:choose>
									<xsl:when test="ImgUrl != ''">
										<xsl:choose>
											<xsl:when test="$isCutPic ='true'"><xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(ImgUrl,$imageWidth2,$imageHeight2))"/></xsl:when>
											<xsl:otherwise><xsl:value-of select="pe:ConvertAbsolutePath(ImgUrl)"/></xsl:otherwise>
										</xsl:choose>
									</xsl:when>
									<xsl:otherwise><xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:otherwise>
								</xsl:choose>
							</xsl:attribute>
							</xsl:element>
						</div>
						<div class="title">
							<a title="{ADName}" target="_balnk" href="{LinkUrl}">
							<xsl:attribute name="target">
								<xsl:choose>
								<xsl:when test="LinkTarget = 0">_self</xsl:when>
								<xsl:otherwise>_blank</xsl:otherwise>
								</xsl:choose>
							</xsl:attribute>
							<xsl:value-of select="pe:CutText(ADName,$titleLength,'…')" />
							</a>
						</div>
					</li>
				</xsl:for-each>
			</xsl:when>

			<xsl:otherwise>
					<xsl:for-each select="/NewDataSet/Table">
						<li class="li{position()}">
						<span><xsl:value-of select="position()" /></span>
						</li>
					</xsl:for-each>
			</xsl:otherwise>
		</xsl:choose>
		</ul>
	</div>
	<!-- hd E -->

</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <Version officialVersion="" modifiedVersions="3600" compatibleVersion="" />
</root>