<root>
  <LabelType>改进类</LabelType>
  <LabelIntro>父节点或自身</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT TOP 1 arrChildID, NodeID, ParentID FROM PE_Nodes WHERE NodeID = @nodeId  order by OrderID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />

<xsl:variable name="countnum" select="count(/NewDataSet/Table)"/>
<xsl:template match="/NewDataSet/Table">

	<xsl:choose>
		<xsl:when test=" arrChildID=NodeID and ParentID!=0 ">
			<xsl:value-of select="ParentID"/>
		</xsl:when>
		<xsl:otherwise>
			<xsl:value-of select="NodeID"/>
		</xsl:otherwise>
	</xsl:choose>


</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>nodeId</name>
    <default>0</default>
    <intro></intro>
  </attributes>

  <CacheTime>0</CacheTime>
  <OutType>
  </OutType>
</root>