<?xml version="1.0" encoding="utf-8"?>
<SearchConfig>
  <Items>
    <SearchConfigItem>
      <Id>1</Id>
      <ConfigName>示例搜索配置</ConfigName>
      <SiteName>动易网络</SiteName>
      <SearchButtonText>搜索</SearchButtonText>
      <PageSize>10</PageSize>
      <IndexFileDir>SampleIndex</IndexFileDir>
      <SearchTemplate><![CDATA[<li>
<h2><a href="${{path}}" target="_blank">${{title}}</a></h2>
<p>${{content}}</p> 
<em>${{path}}</em>
</li>]]></SearchTemplate>
      <EmptyResultTemplate><![CDATA[<div style="margin:0 0 0 15px;font-size:14px;line-height:20px;">
抱歉，没有找到与此相关的网页。
<br><br>
<div style="margin-top:0px;margin-left:15px;">
<li>看看输入的文字是否有误</li>
<li>去掉可能不必要的字词，如“的”、“什么”等</li>
</div>
<div style="margin-top:0px;margin-left:15px;" id="DivPost"></div>
</div><p></p><br clear=all>]]></EmptyResultTemplate>
      <SearchFieldItems>
        <SearchFieldItem>
          <Nickname>标题</Nickname>
          <FieldName>title</FieldName>
        </SearchFieldItem>
        <SearchFieldItem>
          <Nickname>内容</Nickname>
          <FieldName>content</FieldName>
        </SearchFieldItem>
      </SearchFieldItems>
      <DisplayFields>
        <DisplayFieldItem>
          <FieldName>title</FieldName>
          <IsHighLight>true</IsHighLight>
        </DisplayFieldItem>
        <DisplayFieldItem>
          <FieldName>content</FieldName>
          <IsHighLight>true</IsHighLight>
        </DisplayFieldItem>
        <DisplayFieldItem>
          <FieldName>path</FieldName>
          <IsHighLight>false</IsHighLight>
        </DisplayFieldItem>
      </DisplayFields>
      <SortItems />
    </SearchConfigItem>
  </Items>
</SearchConfig>