<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源</LabelType>
  <LabelImage>
  </LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT * FROM PE_U_FriendSite WHERE ID = @itemId</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:template match="/">
<root>
<SiteUrl>
<xsl:value-of select="/NewDataSet/Table/SiteUrl" disable-output-escaping="yes"/>
</SiteUrl>
<ItemID>
<xsl:value-of select="/NewDataSet/Table/ID"/>
</ItemID>
</root>		
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>友情链接ID{默认值:1,传入值:@RequestInt_Id}</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>