<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
<LabelTemplate>
  <![CDATA[
<div class="userPanel">
	<div class="userPanelIn">
	<a href="{PE.SiteConfig.ApplicationPath/}" title="返回首页">返回首页</a> |
	<a href="{PE.SiteConfig.ApplicationPath/}User/login.aspx" title="会员登录">会员登录</a> |
	<a href="{PE.SiteConfig.ApplicationPath/}User/Register.aspx" title="会员注册">会员注册</a>
	</div>
</div>

<div id="header">
	<div id="logo"><a href="{PE.SiteConfig.ApplicationPath/}"><img src="{PE.SiteConfig.Logo/} " alt="{PE.SiteConfig.SiteTitle/}" /></a></div>
</div>
]]></LabelTemplate>
</root>