<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>会员中心</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="3602" compatibleVersion="" />
  <LabelTemplate>
                    <![CDATA[
					


<!--会员中心顶部菜单导航开始-->
    <div class="user_header">

	<div class="siteNav">
		<a class="nodeLink" href="/"><< 返回首页</a>
	</div>
        <!--快捷导航开始-->
        <div class="user_header_guild">
            <div class="user_guild">
                <span class="user_header_photo"><a href="{PE.SiteConfig.ApplicationPath/}User/Info/ModifyInfo.aspx?Action=Modify&AvatarModify=true">
                    <img class="smallAvatar" src="{PE.ViewData.UserBigAvatar/}" alt="{PE.ViewData.UserName/}" align="absmiddle" /></a>
                    <a href="{PE.SiteConfig.ApplicationPath/}User/Info/ModifyInfo.aspx?Action=Modify" title="{PE.ViewData.UserName/}" class="rank">{PE.ViewData.ShortUserName/}</a> </span><span><a
                        href="{PE.SiteConfig.ApplicationPath/}User/Message/MessageManager.aspx?ManageType=0" class="sms">短消息<em>({PE.ViewData.UserUnreadMsg/})</em></a></span>
                <span><a href="{PE.SiteConfig.ApplicationPath/}User/Logout.aspx"
                        class="loginout">注销</a></span><span class="setting"><a id="user_setting" href="javascript:void(0)">
                    设置</a></span>
            </div>
            <!--下拉菜单内容开始-->
            <div class="setting_list" style="display: none">
                <ul>
                    <li><a href="{PE.SiteConfig.ApplicationPath/}User/Info/Password.aspx" title="修改密码">
                        修改密码</a></li>
                    <li><a href="{PE.SiteConfig.ApplicationPath/}User/Info/ModifyInfo.aspx?Action=Modify"
                        title="修改信息">修改信息</a></li>
                    <li><a href="{PE.SiteConfig.ApplicationPath/}User/WidgetSetting.aspx" title="个性化首页">
                        个性化首页</a></li>
                </ul>
                <span class="setting_bottom"></span>
            </div>
            <!--下拉菜单内容结束-->
            <!--快捷导航结束-->
        </div>
    </div>
    <!--会员中心顶部菜单导航结束-->

	<div class="logoBar">
		<h1 class="logo"><img src="{PE.SiteConfig.Logo/} " /></h1><em class="center"></em>
	</div>

        <!--菜单定义开始-->
        <div class="user_menu">
            <ul>
                {PE.Control.MemberHeaderMenu/}
            </ul>
        </div>
        <!--菜单定义结束-->

    <script type="text/javascript">
        $(document).ready(function() {
            $('.setting_list,#user_setting').bind({
                'mouseenter': function() {
                    $('#user_setting').addClass('user_setting');
                    $('.setting_list').slideDown(200);
                    try { clearTimeout(timer); } catch (e) { }
                },
                'mouseleave': function() {
                    timer = setTimeout(function() {
                        $('.setting_list').hide();
                        $('#user_setting').removeClass('user_setting');
                    }, 200);
                }
            });
        })
    </script>]]></LabelTemplate>
</root>
