<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
            <![CDATA[<!--网站底部开始-->
<div id="footer">
    <div class="wrapper">
        <div class="service">
            <a href="javascript:void(0)" title="联系我们">联系我们</a> | <a href='{PE.Label id="取得节点链接路径" nodeId="7"/}' target="_blank" title="网站留言">网站留言</a> | <a href='{PE.Label id="取得节点链接路径" nodeId="6"/}' target="_blank" title="友情链接">友情链接</a> | <a href='{PE.Label id="取得节点链接路径" nodeId="8"/}' target="_blank" title="版权声明">版权声明</a> | <a href="javascript:void(0)" title="关于我们">关于我们</a> | <a href="{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.ManageDir /}/Index.aspx" target="_blank" title="管理登录">管理登录</a>
        </div>
        <div class="clear">
        </div>
        <div class="copyright">
            {PE.SiteConfig.CopyRight/}
        </div>
    </div>
</div>
<!--网站底部结束-->]]></LabelTemplate>
  <OutType>txt</OutType>
  <EnabelAjax>False</EnabelAjax>
</root>