<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>会员中心</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="3601" compatibleVersion="" />
  <LabelTemplate>
                <![CDATA[<!--网站底部开始-->
        <div id="footer" class="footer">
				<div class="copyRight">{PE.SiteConfig.CopyRight /}</div>
        </div>

    <script type="text/javascript">
        function forceReloadImage(){
            $('img.bigAvatar,img.smallAvatar').each(function(){var src = $(this).attr('src'); $(this).attr('src',src+'?ts'+new Date().getTime());})
        }
        $(document).ready(function() {
            forceReloadImage();
            $('a[disabled="disabled"]').css({'color':'#cccccc','cursor':'default'}).removeAttr('onclick').click(function(){return false;}).attr('href','javascrip:void(0);')
            var winHeight = $(window).height();
            var mainHeight = $('.user_main').height();
            var headerHeight = $('.user_header').height();
            var footerHeight = $('.foot').height();
            if ((mainHeight + headerHeight + footerHeight) < winHeight)
                $('.user_main').css("height",winHeight - headerHeight - footerHeight);
            $('input:disabled').css('cursor','auto');
        })
        
         $('img.bigAvatar,img.smallAvatar').error(function(){$(this).attr('src','{PE.SiteConfig.SkinPath/}user/images/no_pic.gif')});
    </script>
        <!--网站底部结束-->]]></LabelTemplate>
</root>
