<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>专题类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="4605" compatibleVersion="" />
  <LabelSqlString><![CDATA[SELECT TOP 1 SpecialID  FROM PE_Specials where SpecialName = '@name']]></LabelSqlString>
  <attributes>
    <name>name</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>参数说明</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:for-each select="/NewDataSet/Table">
<xsl:value-of select="SpecialID"/>
</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>