<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>图片集类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="3608" compatibleVersion="" />
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>2</default>
    <intro>节点ID</intro>
  </attributes>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>1</default>
    <intro>内容ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT * FROM PE_CommonModel INNER JOIN PE_U_Photo ON(ItemID = ID) WHERE NodeID = @nodeId AND ItemID = @itemId AND Status = 99</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
    <xsl:param name="nodeId" />
    <xsl:param name="itemId" />
    <xsl:output method="html" />
    <xsl:template match="/NewDataSet/Table">{interface: '<xsl:value-of select="pe:InstallDir()"/>Common/GetSideData.aspx?&amp;nodeId=<xsl:value-of select="NodeID"/>&amp;itemId=<xsl:value-of select="GeneralID"/>', title: '<xsl:value-of select="pe:ToUX4(pe:RemoveHtml(Title))"/>', url: '<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle,HtmlPageName)"/>', thumb: '<xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(substring-after(substring-before(PhotoUrl,'$$$'),'|'),'105','70'))"/>' }</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>