<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>图片集类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="4601" compatibleVersion="" />
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>123</default>
    <intro>节点ID</intro>
  </attributes>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>1473</default>
    <intro>内容ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString><![CDATA[SELECT TOP 1 * FROM PE_CommonModel C INNER JOIN PE_U_Photo U ON(C.ItemID = U.ID) WHERE C.GeneralID < @itemId AND C.Status = 99 AND C.NodeID = @nodeId ORDER BY C.GeneralID DESC]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
    <xsl:param name="nodeId" />
    <xsl:param name="itemId" />
    <xsl:output method="html" />
    <xsl:template match="/NewDataSet"><xsl:choose><xsl:when test="Table">{interface: '<xsl:value-of select="pe:InstallDir()"/>Common/GetSideData.aspx?&amp;nodeId=<xsl:value-of select="Table/NodeID"/>&amp;itemId=<xsl:value-of select="Table/GeneralID"/>', title: '<xsl:value-of select="pe:ToUX4(pe:RemoveHtml(Table/Title))"/>', url: '<xsl:value-of select="pe:GetInfoPath(Table/NodeID,Table/GeneralID,Table/InputTime,Table/PinyinTitle,Table/HtmlPageName)"/>', thumb: '<xsl:value-of select="pe:ConvertAbsolutePath(pe:GetAnySizePic(Table/DefaultPicUrl,'105','70'))"/>' }</xsl:when><xsl:otherwise>{interface: '', title: '当前已是最后图集', url: 'javascript:alert("当前已是最后图集")', thumb: '{PE.SiteConfig.ApplicationPath/}UploadFiles/nopic.gif' }</xsl:otherwise></xsl:choose></xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>