<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>图片集类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="4601" compatibleVersion="" />
  <attributes>
    <name>nodeId</name>
    <datatype>supersql</datatype>
    <default>2</default>
    <intro>节点ID</intro>
  </attributes>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>5</default>
    <intro>内容ID</intro>
  </attributes>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>SELECT * FROM PE_CommonModel INNER JOIN PE_U_Photo ON(ItemID = ID) WHERE NodeID = @nodeId AND ItemID = @itemId</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
    <xsl:param name="nodeId" />
    <xsl:param name="itemId" />
    <xsl:output method="html" />
    <xsl:template match="/NewDataSet/Table">
var slide_data = {title: '<xsl:value-of select="pe:ToUX4(pe:RemoveHtml(Title))"/>',intro: '<xsl:value-of select="pe:ToUX4(pe:RemoveHtml(PhotoIntro))"/>',datetime: '<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy年mm月dd日')"/>',images:<xsl:value-of select="pe:GetPhotoJsonData(PhotoUrl,'105','70')"/>,next_album: {PE.Label id="图片集主要Json下一条数据" nodeId="<xsl:value-of select="NodeID"/>" itemId="<xsl:value-of select="GeneralID"/>" /},prev_album: {PE.Label id="图片集主要Json上一条数据" nodeId="<xsl:value-of select="NodeID"/>" itemId="<xsl:value-of select="GeneralID"/>" /}};
    </xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
</root>