<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>留言类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <attributes>
    <name>itemId</name>
    <datatype>int</datatype>
    <default>1</default>
    <intro>内容ID</intro>
  </attributes>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="itemId"/>
<xsl:param name="nodeId"/>
<xsl:template match="/">
<xsl:choose>
<xsl:when test="pe:EnableComment($nodeId)='true'">
<xsl:choose>
<xsl:when test="pe:EnableTouristsComment($nodeId)='true'">{PE.Label id="显示回复留言用户信息" nodeId="<xsl:value-of select="$nodeId"/>" itemId="<xsl:value-of select="$itemId"/>" /}</xsl:when>
<xsl:otherwise>
<xsl:choose>
<xsl:when test="pe:IsLogined()='true'">{PE.Label id="显示回复留言用户信息"  nodeId="<xsl:value-of select="$nodeId"/>" itemId="<xsl:value-of select="$itemId"/>" /}</xsl:when>
<xsl:otherwise>
<font style="color:red">该信息所属栏目不允许发表留言！</font>
</xsl:otherwise>
</xsl:choose>
</xsl:otherwise>
</xsl:choose>
</xsl:when>
<xsl:otherwise>
<xsl:choose>
<xsl:when test="pe:UserPurview('commentcheck',$nodeId)='true'">{PE.Label id="显示回复留言用户信息" nodeId="<xsl:value-of select="$nodeId"/>" itemId="<xsl:value-of select="$itemId"/>" /}</xsl:when>
<xsl:otherwise>
<font style="color:red">该信息所属栏目不允许发表留言！</font>
</xsl:otherwise>
</xsl:choose>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <Version officialVersion="" modifiedVersions="3000" compatibleVersion="" />
  <attributes>
    <name>nodeId</name>
    <datatype>int</datatype>
    <default>1</default>
    <intro>项目所属的节点ID</intro>
  </attributes>
</root>