<?xml version="1.0"?>
<root>
  <LabelType>留言类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT NodeID,arrChildID FROM PE_Nodes WHERE NodeID = @parentId</LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentId" />
<xsl:param name="titleLength" />
<xsl:param name="eliteLevel" />
<xsl:param name="usePage" />
<xsl:param name="outputQty" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<font style="color:red">没有找到指定的节点！</font>
</xsl:when>
<xsl:otherwise>
{PE.DataSource id="InfoList" datasource="显示留言列表信息"  page="<xsl:value-of select="$usePage"/>"  pagesize="<xsl:value-of select="$outputQty"/>" nodeArray="<xsl:value-of select="Table/arrChildID"/>" parentId="<xsl:value-of select="$parentId"/>"  titleLength="<xsl:value-of select="$titleLength"/>"  eliteLevel="<xsl:value-of select="$eliteLevel"/>"  xslt="true" /}


<table class="msgTable">
<tr class="tableTitle">
	<td style="">发言主题</td>
	<td style="width:15%">留言人</td>
	<td style="width:10%">点击数</td>
	<td style="width:15%">发表时间</td>
</tr>
{PE.Repeat id="InfoList" loop="1000"} 
<tr class="tableCont">
	<td class="msgT">
	<xsl:text disable-output-escaping="yes">&lt;a href=&quot;</xsl:text>{PE.field id="InfoList" fieldname="ReplyPath" /}<xsl:text disable-output-escaping="yes">&quot;&gt;{PE.field id="InfoList" fieldname="Title" /}&lt;/a&gt;</xsl:text>
	</td>
	<td>{PE.field id="InfoList" fieldname="GuestNameType" /}</td>
	<td>{PE.field id="InfoList" fieldname="Hits" /}</td>
	<td>{PE.field id="InfoList" fieldname="UpdateTime" /}</td>
</tr>
{/PE.Repeat}

</table>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>parentId</name>
    <datatype>supersql</datatype>
    <default>7</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <datatype>supersql</datatype>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>eliteLevel</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>usePage</name>
    <datatype>supersql</datatype>
    <default>true</default>
    <intro>是否分页</intro>
  </attributes>
  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>20</default>
    <intro>每页分页数</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>