<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>留言类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 * FROM PE_CommonModel C INNER JOIN PE_U_GuestBook T ON (C.ItemID = T.ID) WHERE C.GeneralID = @itemId</LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:param name="titleLength"/>
<xsl:template match="/">
<xsl:variable name="loginedusername" select="pe:LoginedUserName()"/>
<xsl:variable name="isadminlogined" select="pe:IsAdminLogined()"/>
<Root>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<ModelId>
<xsl:value-of select="/NewDataSet/Table/ModelId"/>
</ModelId>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<UpdateTime1>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime1>
<Title>
<xsl:value-of disable-output-escaping="yes" select="pe:EncodeText(/NewDataSet/Table/Title,'htmlencode')" />
</Title>
<GuestName>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/GuestName=''">游客</xsl:when>
<xsl:otherwise><xsl:value-of select="/NewDataSet/Table/GuestName"/></xsl:otherwise>
</xsl:choose>
</GuestName>

<AdminReplyOrNot>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/AdminReply != ''"></xsl:when>
<xsl:otherwise>hide</xsl:otherwise>
</xsl:choose>
</AdminReplyOrNot>

<xsl:if test="/NewDataSet/Table/AdminReply != ''">
<AdminReply>
&lt;strong&gt;管理员回复：&lt;/strong&gt;
&lt;br /&gt;回复内容：<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/AdminReply"/>
</AdminReply>
<AdminReplyTime>
回复时间：<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/AdminReplyTime,'yyyy-mm-dd')"/>
</AdminReplyTime>
</xsl:if>
<GuestNameType>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/Inputer=''">游客</xsl:when>
<xsl:otherwise><xsl:value-of select="/NewDataSet/Table/Inputer"/></xsl:otherwise>
</xsl:choose>
</GuestNameType>
<xsl:if test="/NewDataSet/Table/GuestOicq != ''">
<GuestOicq>QQ：<xsl:value-of select="/NewDataSet/Table/GuestOicq"/>
</GuestOicq>
</xsl:if>
<xsl:if test="/NewDataSet/Table/GuestMsn !=''">
<GuestMsn>MSN：<xsl:value-of select="/NewDataSet/Table/GuestMsn"/>
</GuestMsn>
</xsl:if>
<xsl:if test="/NewDataSet/Table/GuestEmail !=''">
<GuestEmail>Email：&lt;a href=&quot;mailto:<xsl:value-of select="/NewDataSet/Table/GuestEmail"/>&quot;&gt;<xsl:value-of select="/NewDataSet/Table/GuestEmail"/>&lt;/a&gt;</GuestEmail>
</xsl:if>
<xsl:if test="/NewDataSet/Table/GuestHomepage !=''">
<GuestHomepage>
主页：&lt;a href=&quot;<xsl:choose>
<xsl:when test="substring-before(/NewDataSet/Table/GuestHomepage,'/') = 'http:'">
<xsl:value-of select="/NewDataSet/Table/GuestHomepage"/>
</xsl:when>
<xsl:otherwise>http://<xsl:value-of select="/NewDataSet/Table/GuestHomepage"/>
</xsl:otherwise>
</xsl:choose>&quot; linkOpenType=&quot;_blank&quot;&gt;<xsl:value-of select="/NewDataSet/Table/GuestHomepage"/>&lt;/a&gt;
</GuestHomepage>
</xsl:if>
<GuestImages>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/GuestImages=''">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/01.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/<xsl:value-of select="/NewDataSet/Table/GuestImages"/>.gif
</xsl:otherwise>
</xsl:choose>
</GuestImages>
<GuestContent>
            <xsl:choose>
              <xsl:when test="/NewDataSet/Table/GuestIsPrivate = 'true'">
                <xsl:choose>
                  <xsl:when test="(/NewDataSet/Table/GuestName = $loginedusername or $isadminlogined = 'true')">
                    <xsl:value-of  disable-output-escaping="yes" select="/NewDataSet/Table/GuestContent"/>
                  </xsl:when>
                  <xsl:otherwise>该内容设置了隐藏！</xsl:otherwise>
                </xsl:choose>
              </xsl:when>
              <xsl:otherwise>
                <xsl:value-of  disable-output-escaping="yes" select="/NewDataSet/Table/GuestContent"/>
              </xsl:otherwise>
            </xsl:choose>
</GuestContent>
<ReplyPath>
<xsl:value-of select="pe:GetInfoPath(/NewDataSet/Table/NodeID,/NewDataSet/Table/GeneralID,/NewDataSet/Table/InputTime,/NewDataSet/Table/Title)"/>
</ReplyPath>
<GuestFace>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/GuestFace=''">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/face1.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/face<xsl:value-of select="/NewDataSet/Table/GuestFace"/>.gif
</xsl:otherwise>
</xsl:choose>
</GuestFace>
<InfoPath>
&lt;a href="<xsl:value-of select="pe:GetInfoPath(/NewDataSet/Table/NodeID,/NewDataSet/Table/GeneralID,/NewDataSet/Table/InputTime,/NewDataSet/Table/Title)"/>"&gt;
<xsl:value-of select="/NewDataSet/Table/Title" />
&lt;/a&gt;
</InfoPath>
<NodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',/NewDataSet/Table/NodeID)"/>"&gt;
<xsl:value-of select="pe:GetNode(/NewDataSet/Table/NodeID,'name')" />
&lt;/a&gt;
</NodePath>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
</Root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemId</name>
    <datatype>supersql</datatype>
    <default>4</default>
    <intro>留言ID</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <attributes>
    <name>titleLength</name>
    <default>50</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>