<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>栏目类</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP @pagesize N.*,NMT.* FROM PE_Nodes N  left join (select NodeID,min(ModelID) as ModelID from PE_Nodes_Model_Template group by NodeID) NMT on N.NodeID=NMT.NodeID WHERE N.NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes N WHERE ParentID = @parentId AND NodeType=1 AND ShowOnList_Parent=1  AND PurviewType != 3  ORDER BY OrderID) AND (N.ParentID = @parentId) AND N.NodeType=1 AND N.ShowOnList_Parent=1 AND N.PurviewType != 3  ORDER BY N.OrderID
  </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
 <xsl:param name="parentId"/>
 <xsl:param name="mod"/>
 <xsl:output method="xml" />
 <xsl:template match="/">
  <NewDataSet>
   <xsl:for-each select="NewDataSet/Table">
    <Table>
     <NodeID>
      <xsl:value-of select="NodeID"/>
     </NodeID>
  <ModelID>
      <xsl:value-of select="ModelID"/>
  </ModelID>
   <FlowID>
    <xsl:choose>
      <xsl:when test="position() mod 2 = 0">fr</xsl:when>
      <xsl:otherwise>fl</xsl:otherwise>
    </xsl:choose>
   </FlowID>
   <position><xsl:value-of select="position()"/>
    <xsl:choose>
      <xsl:when test="position()=1"> first</xsl:when>
      <xsl:when test="position()=last()"> last</xsl:when>
    </xsl:choose>
  </position>
     <NodeName>
      <xsl:value-of select="NodeName"/>
     </NodeName>
     <NodeLink>
      &lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>" target="_blank"&gt;<xsl:value-of select="pe:GetNode(NodeID,'name')"/> &lt;/a&gt;
     </NodeLink>
     <ParentNodePath>
      &lt;a href="<xsl:value-of select="pe:GetNodePath('true',$parentId)"/>"&gt;<xsl:value-of select="pe:GetNode($parentId,'name')"/>&lt;/a&gt;
     </ParentNodePath>
     
     <clear>
        <xsl:if test="position() mod $mod = 0 and position() != last()">&lt;div class="clear"&gt;&lt;/div&gt;</xsl:if>
     </clear>
     <MoreUrl><xsl:value-of select="pe:GetNodePath(false,NodeID)" /></MoreUrl>

    </Table>
   </xsl:for-each>
  </NewDataSet>
 </xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <attributes>
    <name>parentId</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>mod</name>
    <default>2</default>
    <intro>clear分隔</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlCount>SELECT COUNT(*) FROM PE_Nodes WHERE ParentID = @parentId AND NodeType=1 AND ShowOnList_Parent=1 AND PurviewType != 3 </LabelSqlCount>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
</root>