<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>搜索类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>keyword</name>
    <datatype>supersql</datatype>
    <default>
    </default>
    <intro>搜索关键字值</intro>
  </attributes>
  <attributes>
    <name>outputQty</name>
    <datatype>supersql</datatype>
    <default>20</default>
    <intro>每页显示信息数</intro>
  </attributes>
  <attributes>
    <name>titleLength</name>
    <default>50</default>
    <intro>标题最多字符数</intro>
  </attributes>

  <attributes>
    <name>searchNode</name>
    <datatype>supersql</datatype>
    <default>notIn</default>
    <intro>
	是否搜索节点，结合nodes使用。
    searchNode="notIn" nodes="0" 全站搜索
    searchNode="notIn" nodes="1,2" 不搜索节点1和2
    searchNode="in" nodes="1,2" 只搜索节点1和2
	</intro>
  </attributes>
  <attributes>
    <name>nodes</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>节点id，0为全站；可以传多个节点，例如：1,32,45</intro>
  </attributes>

  <attributes>
    <name>searchModel</name>
    <datatype>supersql</datatype>
    <default>notIn</default>
    <intro>
	是否搜索模型，结合models使用。
    searchModel="notIn" models="0" 全站搜索
    searchModel="notIn" models="1,2" 不搜索模型1和2
    searchModel="in" models="1,2" 只搜索模型1和2
	</intro>
  </attributes>
  <attributes>
    <name>models</name>
    <datatype>supersql</datatype>
    <default>0</default>
    <intro>搜索的模型id，用逗号隔开，例如 1,33</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT Title = '@keyword']]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
 <xsl:output method="html" />
 <xsl:param name="keyword"/>
 <xsl:param name="titleLength"/>
 <xsl:param name="outputQty"/>
 <xsl:param name="searchModel"/>
 <xsl:param name="models"/>
 <xsl:param name="searchNode"/>
 <xsl:param name="nodes"/>
  <xsl:param name="fieldOption"/>
 <xsl:template match="/">
 {PE.Label id="全站搜索按标题_普通式" queryCond="SELECT TOP @pagesize
  CM.NodeID,CM.Title,CM.UpdateTime,CM.GeneralID,CM.InputTime,CM.PinyinTitle,CM.Hits 
  FROM
  PE_CommonModel CM
  WHERE
	<xsl:choose>
		<xsl:when test="$searchModel = 'notIn'">
			CM.ModelID NOT IN(<xsl:value-of select="$models"/>)
		</xsl:when>
		<xsl:otherwise>
			CM.ModelID IN(<xsl:value-of select="$models"/>)
		</xsl:otherwise>
	</xsl:choose>
  AND  
	<xsl:choose>
		<xsl:when test="$searchNode = 'notIn'">
			NodeID NOT IN(<xsl:value-of select="$nodes"/>) AND 
		</xsl:when>
		<xsl:otherwise>
			NodeID IN(<xsl:value-of select="$nodes"/>) AND 
		</xsl:otherwise>
	</xsl:choose>

  CM.GeneralID NOT IN (SELECT TOP @startrow ICM.GeneralID FROM PE_CommonModel ICM WHERE
  	<xsl:choose>
		<xsl:when test="$searchModel = 'notIn'">
			CM.ModelID NOT IN(<xsl:value-of select="$models"/>)
		</xsl:when>
		<xsl:otherwise>
			CM.ModelID IN(<xsl:value-of select="$models"/>)
		</xsl:otherwise>
	</xsl:choose>
  AND  
	<xsl:choose>
		<xsl:when test="$searchNode = 'notIn'">
			NodeID NOT IN(<xsl:value-of select="$nodes"/>) AND 
		</xsl:when>
		<xsl:otherwise>
			NodeID IN(<xsl:value-of select="$nodes"/>) AND 
		</xsl:otherwise>
	</xsl:choose>
  
  ICM.Status = 99 AND 
  ICM.Title LIKE '%<xsl:value-of select="/NewDataSet/Table/Title"/>%'
  ORDER BY ICM.UpdateTime DESC) AND
  CM.Status = 99 AND CM.SigninType!=2 AND
  CM.Title LIKE '%<xsl:value-of select="/NewDataSet/Table/Title"/>%'

  ORDER BY 
  CM.UpdateTime DESC" queryCount="SELECT COUNT (ICM.GeneralID) FROM PE_CommonModel ICM WHERE 
  	<xsl:choose>
		<xsl:when test="$searchModel = 'notIn'">
			ICM.ModelID NOT IN(<xsl:value-of select="$models"/>)
		</xsl:when>
		<xsl:otherwise>
			ICM.ModelID IN(<xsl:value-of select="$models"/>)
		</xsl:otherwise>
	</xsl:choose>
  AND 
	<xsl:choose>
		<xsl:when test="$searchNode = 'notIn'">
			NodeID NOT IN(<xsl:value-of select="$nodes"/>) AND 
		</xsl:when>
		<xsl:otherwise>
			NodeID IN(<xsl:value-of select="$nodes"/>) AND 
		</xsl:otherwise>
	</xsl:choose>
  ICM.Status = 99 AND ICM.Title LIKE '%<xsl:value-of select="/NewDataSet/Table/Title"/>%'" titleLength="<xsl:value-of select="$titleLength"/>" page="true" pagesize="<xsl:value-of select="$outputQty"/>" keyword="<xsl:value-of select="$keyword"/>" urlpage="true" /}
 </xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <Version officialVersion="" modifiedVersions="4600" compatibleVersion="" />
</root>