<?xml version="1.0"?><root><LabelType>列表分页</LabelType><LabelImage></LabelImage><LabelIntro>色块风格的分页,需要载入对应的CSS</LabelIntro><LabelTemplate>&lt;script type="text/javascript" language="javascript"&gt;
function listPage_Jumpto{$sourcename/}(e,ele){
e=e||event;
if(13==e.keyCode){
var i=Number(ele.value);
if(i&lt;1||i&gt;{$endid/}){alert("你输入的页码超出范围。");}
switch(i){
{$loop}case {$pageid/}: location='{$pageurl/}';break; $$$case {$pageid/}: break; {$/loop}
default: break;
}
}
}
&lt;/script&gt;
&lt;div class="pager"&gt;
 &lt;a href="{$firsturl/}" class="first"&gt;首页&lt;/a&gt;
 &lt;a href="{$prvurl/}" class="prev"&gt;上一页&lt;/a&gt;
 {$loop range="3"}&lt;a href="{$pageurl/}"&gt;{$pageid/}&lt;/a&gt; $$$&lt;span class="current"&gt;{$pageid/}&lt;/span&gt; {$/loop}
&lt;a href="{$nexturl/}" class="next"&gt;下一页&lt;/a&gt;
 &lt;a href="{$endurl/}" class="last"&gt;尾页&lt;/a&gt;
&lt;input type="text" value="{$currentid/}" onkeydown="listPage_Jumpto{$sourcename/}(event,this)" title="输入数字，回车跳转"/&gt;
&lt;span class="disabled"&gt;共{$totalpub/}{$unitname/}/共{$endid/}页&lt;/span&gt;
&lt;/div&gt;</LabelTemplate></root>