<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态类</LabelType>
  <LabelIntro />
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="3151" compatibleVersion="" />
  <LabelTemplate><![CDATA[<em>您现在的位置：</em><a class="home" href="{PE.SiteConfig.ApplicationPath /}">首页</a>{PE.Label id="当前位置导航" nodeId="<xsl:value-of select="$currentId"/>" /}]]></LabelTemplate>
  <attributes>
    <name>currentId</name>
    <datatype>supersql</datatype>
    <default>@RequestInt_id</default>
    <intro>当前节点ID</intro>
  </attributes>
</root>