<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <LabelTemplate><![CDATA[<script type="text/javascript">
    var siteSetup = { sitePath: '/', ajaxPath: '/ajax.aspx', skinPath: '{PE.SiteConfig.SkinPath/}' };
</script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}js/jquery.pack.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}js/jquery.peex.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.SkinPath/}js/jquery.SuperSlide.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.SkinPath/}js/js.js"></script>
<script>
$(function(){
    $(".J_tabBox").slide({mainCell:".J_tabContent", titCell:".J_tabHandler>*"});
})
</script>
<!--[if lt IE 7]>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.SkinPath/}js/DD_belatedPNG.js"></script>
<script>
DD_belatedPNG.fix('.pngfix');
</script>
<![endif]-->

]]></LabelTemplate>
</root>