<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <Version officialVersion="" modifiedVersions="5001" compatibleVersion="" />
  <attributes>
    <name>placeholder</name>
    <datatype>string</datatype>
    <default>请输入搜索关键字</default>
    <intro>输入框默认占位文字</intro>
  </attributes>
  <attributes>
    <name>searchType</name>
    <datatype>string</datatype>
    <default>fulltext</default>
    <intro>搜索类型{全文检索:fulltext,标题搜索:title,下拉搜索:select}</intro>
  </attributes>
  <attributes>
    <name>nodes</name>
    <datatype>string</datatype>
    <default></default>
    <intro>搜索栏目(仅限标题搜索)</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="placeholder" />
<xsl:param name="searchType" />
<xsl:param name="nodes" />
<xsl:template match="/">

    <div class="siteSearch">
        <form action="{pe:GetSiteConfigInfo('InstallDir')}search.aspx" class="searchform" target="_blank">
          <xsl:choose>
              <xsl:when test="$searchType = 'select'">
                  <select name="searchType" class="searchType">
                      <option value="fulltext">全文检索</option>
                      <option value="">标题搜索</option>
                  </select>
              </xsl:when>
              <xsl:when test="$searchType = 'title'">
                  <input type="hidden" name="searchType" class="searchType" value="" />
                  <xsl:if test="$nodes != ''"><input type="hidden" name="nodes" value="{$nodes}"/></xsl:if>
              </xsl:when>
              <xsl:otherwise>
                  <input type="hidden" name="searchType" class="searchType" value="fulltext" />
              </xsl:otherwise>
          </xsl:choose>
          <input type="text" class="keyword" autocomplete="off" name="keyword" placeholder="{$placeholder}" />
          <input type="submit" class="submit" value="搜索" />
        </form>
    </div>
    <script type="text/javascript">
    (function($){
        $(".searchform").submit(function(){
          var holder     = $(this).find(".keyword").attr("placeholder"),
              keyword    = $.trim($(this).find(".keyword").val()),
              searchType = $(this).find(".searchType").val();
          if (keyword == "" || keyword == holder) {
              alert(holder);
              $(this).find(".keyword").focus();
              return false;
          }
          if (searchType == "fulltext") {
              window.open("{PE.SiteConfig.ApplicationPath /}search/s.aspx?f=0&amp;wd=" + encodeURI(keyword));
              return false;
          }
        });
        if ($.browser.msie) {
            $(".searchform .keyword").each(function(){
                var holder = $(this).attr("placeholder");
                if ($(this).val()=="")$(this).val(holder);
                $(this).focus(function(){
                    if ($.trim($(this).val()) == holder)
                        $(this).val("");
                });
                $(this).blur(function(){
                    if ($.trim($(this).val()) == "") $(this).val(holder);
                });
            })
        }
    })(jQuery);
    </script>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>