<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态类</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <EnabelAjax>False</EnabelAjax>
  <IsXsltSql>false</IsXsltSql>
  <IsXsltCountSql>false</IsXsltCountSql>
  <LabelSqlString>	SELECT TOP @pagesize SurveyName,SurveyID,CreateDate,FileName,IsOpen FROM PE_Survey WHERE SurveyID NOT IN(
		SELECT TOP @startrow SurveyID from PE_Survey WHERE IsOpen = 1 ORDER BY CreateDate DESC 
	) AND IsOpen = 1 ORDER BY CreateDate DESC </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
  <xsl:output method="html" />
  <xsl:param name="titleLength"/>
  <xsl:param name="showAction"/>
  <xsl:param name="displayDateTime"/>
  <xsl:template match="/NewDataSet/Table">      
              <li>
<xsl:if test="$displayDateTime != ''"><span class="date"><xsl:value-of select='pe:FormatDate(CreateDate, $displayDateTime)' /></span></xsl:if>
                <a class="ques">
                  <xsl:attribute name="href">
                    {PE.SiteConfig.ApplicationPath/}Survey/<xsl:value-of select="FileName"/>
                  </xsl:attribute>
                  <xsl:attribute name="target">
                    _blank
                  </xsl:attribute>
                  <xsl:attribute name="title">
                    <xsl:value-of select="SurveyName"/>
                  </xsl:attribute>
                  <xsl:value-of select="pe:CutText(SurveyName,$titleLength,'…')"/>
                </a>
                <xsl:if test="$showAction = 'true'">
                  <xsl:text disable-output-escaping="yes">&amp;nbsp;</xsl:text>
                  <a class="view">
                    <xsl:attribute name="href">
                      {PE.SiteConfig.ApplicationPath/}Survey/ListReport.aspx?SurveyID=<xsl:value-of select="SurveyID"/>
                    </xsl:attribute>
                    <xsl:attribute name="target">_blank</xsl:attribute>[查看]</a>
                  <xsl:text disable-output-escaping="yes">&amp;nbsp;</xsl:text>
                  <a class="join"> 
                    <xsl:attribute name="href">
                      {PE.SiteConfig.ApplicationPath/}Survey/<xsl:value-of select="FileName"/>
                    </xsl:attribute>
                    <xsl:attribute name="target">_blank</xsl:attribute>[参与]</a>
                </xsl:if>
              </li>
</xsl:template>
</xsl:stylesheet>]]></LabelTemplate>
  <attributes>
    <name>titleLength</name>
    <default>32</default>
    <intro>标题字数</intro>
  </attributes>
  <attributes>
    <name>outputQty</name>
    <default>99999</default>
    <intro>输出条数</intro>
  </attributes>
  <attributes>
    <name>showAction</name>
    <default>true</default>
    <intro>是否输出 查看、参与 链接</intro>
  </attributes>
  <Version officialVersion="" modifiedVersions="4700" compatibleVersion="" />
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(SurveyID) from PE_Survey  WHERE  (IsOpen = 1)</LabelSqlCount>
  <attributes>
    <name>displayDateTime</name>
    <datatype>string</datatype>
    <default>
    </default>
    <intro>displayDateTime</intro>
  </attributes>
</root>